@model ICollection<NewKinoHub.Storage.Entity.Person>
    <!DOCTYPE html>
    <html lang="en">
    <head>        
        <link href="~/css/Profil.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
        <style>
            .people {
                display: none;
            }

            .active.people {
                display: inline-block;
            }

            .people1 {
                display: none;
            }

            .active1.people1 {
                display: inline-block;
            }
        </style>
            <center>
        <form action="/" method="post">
            <select id="careers" name="Role1">
                <option value="actors">Актёр</option>
                <option value="directors">Режиссёр</option>
                <option value="screenwriters">Сценарист</option>
            </select>

                <div id="actors" class="people active">
                    <input list="actor" name="Name1">
                    <datalist id="actor">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsActor == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div>
                <div id="directors" class="people">
                    <input list="director" name="Name1" required>
                    <datalist id="director">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsDirector == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div>
                <div id="screenwriters" class="people">
                    <input list="screenwriter" name="Name1">
                    <datalist id="screenwriter">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsScreenWriter == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div><br><br />

                <select id="careers1" name="Role2">
                    <option value="actors1">Актёр</option>
                    <option value="directors1">Режиссёр</option>
                    <option value="screenwriters1">Сценарист</option>
                </select>

                <div id="actors1" class="people1 active1">
                    <input list="actor1" name="Name2">
                    <datalist id="actor1">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsActor == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div>
                <div id="directors1" class="people1">
                    <input list="director1" name="Name2">
                    <datalist id="director1">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsDirector == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div>
                <div id="screenwriters1" class="people1">
                    <input list="screenwriter1" name="Name2">
                    <datalist id="screenwriter1">
                        @foreach (var Person in Model)
                        {
                            if (Person.IsScreenWriter == true)
                            {
                                <option data-value="@Person.Id">@Person.Name</option>
}
                        }
                    </datalist>
                </div> <br><br />

                <input type="submit" class="submit-accept" name="name" value="Применить" style="width: 120px; height: 30px; background-color: rgb(247,151,30); color: black; font-size: 16px;" formaction="/Films/SelectFilmsForPersons">
            </form>
            </center>
        </div>
                          
        <script src="~/js/Checked.js"></script>
        <script type="text/javascript">
            ChangeCareer();
        </script>
    </body>
</html>
