@model ICollection<NewKinoHub.Storage.Entity.Person>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        @*<link rel="stylesheet" href="~/css/chosen.min.css">*@
        <link href="~/css/Profil.css" rel="stylesheet" />
    </head>
    <body>

        @*<center>
                <h2 style="color:aliceblue" class="login">Расширенный поиск</h2>


                <select class="js-chosen" name="actor" placeholder="Выберите человека">
                    @foreach (var Person in Model)
                    {
                        if (Person.IsActor == true)
                        {
                            <option style="display:none" value="@Person.Id">@Person.Name</option>
                        }
                    }

                </select>>
            </center>

        <script src="~/js/choices.min.js"></script>
        <script src="~/js/Search.js"></script>*@



        @*<input id="selected" list="brow" required>*@
        @*<datalist id="brow" placeholder="Выберите актёра">
            @foreach (var Person in Model)
            {
                if (Person.IsActor == true)
                {
                    <option data-value="@Person.Id">@Person.Name</option>
                }
            }
        </datalist>*@
        <style>
            .people {
                display: none;
            }

            .active.people {
                display: inline-block;
            }

            .people1 {
                display: none;
            }

            .active1.people1 {
                display: inline-block;
            }
        </style>

        <select id="careers">
            <option value="actors">Актёр</option>
            <option value="directors">Режиссёр</option>
            <option value="screenwriters">Сценарист</option>
        </select>

        <div id="actors" class="people active">
            <input list="actor" required>
            <datalist id="actor">
                @foreach (var Person in Model)
                {
                    if (Person.IsActor == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div>
        <div id="directors" class="people">
            <input list="director" required>
            <datalist id="director">
                @foreach (var Person in Model)
                {
                    if (Person.IsDirector == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div>
        <div id="screenwriters" class="people">
            <input list="screenwriter" required>
            <datalist id="screenwriter">
                @foreach (var Person in Model)
                {
                    if (Person.IsScreenWriter == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div><br><br />

        <select id="careers1">
            <option value="actors1">Актёр</option>
            <option value="directors1">Режиссёр</option>
            <option value="screenwriters1">Сценарист</option>
        </select>

        <div id="actors1" class="people1 active1">
            <input list="actor1" required>
            <datalist id="actor1">
                @foreach (var Person in Model)
                {
                    if (Person.IsActor == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div>
        <div id="directors1" class="people1">
            <input list="director1" required>
            <datalist id="director1">
                @foreach (var Person in Model)
                {
                    if (Person.IsDirector == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div>
        <div id="screenwriters1" class="people1">
            <input list="screenwriter1" required>
            <datalist id="screenwriter1">
                @foreach (var Person in Model)
                {
                    if (Person.IsScreenWriter == true)
                    {
                        <option data-value="@Person.Id">@Person.Name</option>
                    }
                }
            </datalist>
        </div> <br><br/>

        <input type="submit" name="name" value="Применить" formaction="" ; style="width: 120px; height: 30px; background-color: rgb(247,151,30); color: black; font-size: 16px;">
        <script>
            var careers = document.querySelector('#careers');

            var actorPeople = document.querySelector('#actors');
            var directorPeople = document.querySelector('#directors');
            var screenwriterPeople = document.querySelector('#screenwriters');

            careers.addEventListener('change', function () {
                document.querySelector('.active.people').classList.remove('active');
                if (this.value == 'actors') {
                    actorPeople.classList.add('active');
                }
                if (this.value == 'directors') {
                    directorPeople.classList.add('active');
                }
                if (this.value == 'screenwriters') {
                    screenwriterPeople.classList.add('active');
                }
            });
        </script>
        <script>
            var careers1 = document.querySelector('#careers1');

            var actorPeople1 = document.querySelector('#actors1');
            var directorPeople1 = document.querySelector('#directors1');
            var screenwriterPeople1 = document.querySelector('#screenwriters1');

            careers1.addEventListener('change', function () {
                document.querySelector('.active1.people1').classList.remove('active1');
                if (this.value == 'actors1') {
                    actorPeople1.classList.add('active1');
                }
                if (this.value == 'directors1') {
                    directorPeople1.classList.add('active1');
                }
                if (this.value == 'screenwriters1') {
                    screenwriterPeople1.classList.add('active1');
                }
            });

        </script>

    </body>
</html>
