@model (List<NewKinoHub.Storage.Entity.Media>,List<NewKinoHub.Storage.Entity.Media>)

<html style="font-size: 16px;">
<head>
    <link rel="stylesheet" href="~/css/favorites.css" media="screen">
    <link href="~/css/Profil.css" rel="stylesheet" />
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
</head>

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">
        <div style="margin-top:50px; margin-bottom:30px;">
            <div style="width: 100%; max-width: 1125px; margin: 0 auto; color:white;">

                @if (Model.Item1 == null && Model.Item2 == null || Model.Item1.Count == 0 && Model.Item2.Count == 0)
                {   /*выводится, если тайтл не нашелся*/
                    <div style="left:50% !important; right:50% !important;">
                        <center>
                            <script language="JavaScript" type="text/javascript">
                                var n = Math.floor(Math.random() * 3); /*цифра 3 - количество картинок*/
                                var width = 350; /*ширина картинки*/
                                pic = new Array();
                                pic[0] = "../lib/images/searchvoid/searchvoid.jpg"  /*собственно сами картинки*/
                                pic[1] = "../lib/images/searchvoid/searchvoid1.jpg" /*собственно сами картинки*/
                                pic[2] = "../lib/images/searchvoid/searchvoid2.jpg" /*собственно сами картинки*/
                                document.write("<img width=" + width + " src = " + pic[n] + " /> "); /*не трогать а то сломается*/
                            </script>
                            <h3 style="padding-bottom:3px;">Мы ничего не нашли :(</h3>
                        </center>
                    </div>
                }
                else
                { /*выводится, если тайтл нашелся*/
                    <div style="width: 100%; max-width: 1125px; margin: 0 auto; color:white;">
                        <h3 style="padding-bottom:3px; left:100%;">Вот, что нашлось по результатам поиска :</h3>
                        <h3 style="padding-bottom:3px; left:100%;">"@ViewData["Getemployeedetails"]"</h3>
                    </div>

                    @if (Model.Item1.Count != 0)
                    {<div style="color:white; width:150px; height:30px; padding-bottom:3px !important;">
                            <h3>Фильмы:</h3>
                        </div>
                    }
                    @foreach (var film in Model.Item1)
                    {
                        <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                            <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                                <img width="265" class="u-back-image u-expanded imagetitle" src=@film.Img>
                            </a>
                            <div class="bgtitleopacity" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                                <table style="width: 780px;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 400px;">
                                                <p style="font-weight: bold; right:100%; left:0%;"> @film.Name </p>
                                            </td>
                                            @if (film.IsFavorites == false && ViewBag.User != null)
                                            {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                                </a>
                                            </td>
                                            }
                                            else
                                            {
                                                if (ViewBag.User != null)
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                                else
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                            }
                                            @if (film.IsVieweds == false && ViewBag.User != null)
                                            {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                                </a>
                                            </td>
                                            }
                                            else
                                            {
                                                if (ViewBag.User != null)
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                                else
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }

                                            }
                                            @if (ViewBag.Role == 1)
                                            {
                                            <td align="right" width="30">
                                                <a href=@Url.Action("EditFilm", "Films", new { Id = film.MediaID })>
                                                    <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                                </a>
                                            </td>
                                            <td align="right" width="30">
                                                <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = film.MediaID })>
                                                    <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                                </a>
                                            </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Год: @film.Year</p>

                                <p>
                                    <span style="font-weight:bold">Жанры:</span>
                                    @foreach (var genre in film.Genres)
                                    {
                                    <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                    }
                                </p>
                                <p>
                                    <span style="font-weight:bold">Режиссер:</span>
                                    @foreach (var director in film.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 0 && director.Person != null)
                                        {
                                    <a href=@Url.Action("Person", "Persons", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                                        }
                                    }
                                </p>
                                <p>
                                    <span style="font-weight:bold">Актеры:</span>
                                    @foreach (var director in film.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 2 && director.Person != null)
                                        {
                                    <a href=@Url.Action("Person", "Persons", new { personId = director.Id }) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                    <a href=@Url.Action("ListCast", "Cast", new { castId = film.MediaID}) class="textstyle">...</a>
                                </p>
                                <p>Страна: @film.Country</p>
                                <p>Возраст: @film.Age+</p>
                                <a><img src=@film.ScoreKP border='0'></a>
                                <p>Краткое описание: @film.ShortDescription</p>
                                @if (ViewBag.Role == 1)
                                {

                                <a class="allcastlist" href=@Url.Action("ListCasts", "Cast", new { IdFilm = film.MediaID })>Весь каст</a>

                                }
                            </div>
                            <div style=" clear:both;"></div>
                        </div>
                    }

                    @if (Model.Item2.Count != 0)
                    {
                        <div style="color:white;width:150px; height:30px; padding-bottom:3px !important;">
                            <h3>Сериалы:</h3>
                        </div>
                    }
                    @foreach (var serial in Model.Item2)
                    {
                        <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                            <a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                                <img class="u-back-image u-expanded imagetitle imglist" src=@serial.Img>
                            </a>
                            <div class="bgtitleopacity" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                                <table style="width: 780px;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 400px;">
                                                <p style="font-weight: bold; right:100%; left:0%;"> @serial.Name </p>
                                            </td>
                                            @if (serial.IsFavorites == false && ViewBag.User != null)
                                            {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                                </a>
                                            </td>
                                            }
                                            else
                                            {
                                                if (ViewBag.User != null)
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                                else
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                            }

                                            @if (serial.IsVieweds == false && ViewBag.User != null)
                                            {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                                </a>
                                            </td>
                                            }
                                            else
                                            {
                                                if (ViewBag.User != null)
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye.png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }
                                                else
                                                {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                                </a>
                                            </td>
                                                }

                                            }
                                            @if (ViewBag.Role == 1)
                                            {
                                            <td align="right" width="30">
                                                <a href=@Url.Action("EditFilm", "Films", new { Id = serial.MediaID })>
                                                    <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                                </a>
                                            </td>
                                            }

                                            @if (ViewBag.Role == 1)
                                            {
                                            <td align="right" width="30">
                                                <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = serial.MediaID })>
                                                    <img src="~/lib/images/Icons/close.png" width="30" height="30" />
                                                </a>
                                            </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Год: @serial.Year</p>

                                <p>
                                    <span style="font-weight:bold">Жанры:</span>
                                    @foreach (var genre in serial.Genres)
                                    {
                                    <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                    }
                                </p>
                                <p>
                                    <span style="font-weight:bold">Режиссер:</span>
                                    @foreach (var director in serial.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 0 && director.Person!= null)
                                        {
                                    <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name</a>
                                        }
                                    }
                                </p>
                                <p>
                                    <span style="font-weight:bold">Актеры:</span>
                                    @foreach (var director in serial.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 2 && director.Person != null)
                                        {
                                    <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId}) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                    <a href=@Url.Action("ListActors", "Cast", new { FilmId = serial.MediaID}) class="textstyle">...</a>
                                </p>
                                <p>Страна: @serial.Country</p>
                                <p>Возраст: @serial.Age+</p>
                                <a><img src=@serial.ScoreKP border='0'></a>
                                <p>Краткое описание: @serial.ShortDescription</p>
                                @if (ViewBag.Role == 1)
                                {

                                <a href=@Url.Action("ListCasts", "Cast", new { IdFilm = serial.MediaID })>
                                    Весь каст
                                </a>

                                }
                            </div>
                            <div style=" clear:both;"></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>
