@model NewKinoHub.Storage.Entity.Media
<head>
    <link href="~/css/editadd.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <h1 class="coloraddtext">Редактирование:</h1>
        <form action="" method="post" enctype="multipart/form-data" style="width:100% !important;">
            <table class="tablesize">
                <tbody>
                    <tr class="trsizea">
                        <td valign="top" align="left" class="tdstyle">
                            <label class="colortext">Название:<sup>*</sup></label><br />                            
                            <textarea class="namesizeeditadd" type="text" name="Name" required>@Model.Name </textarea><br />



                            <label class="colortext">Постер:<sup>*</sup></label><br />
                            @if (Model.Img != null)
                            {
                                <input class="colortext" value=@(Convert.ToBase64String(Model.Img)) type="file" title="Выберите постер" name="mainPhoto" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />
                            }
                            else
                            {
                                <input class="colortext" type="file" title="Выберите постер" name="mainPhoto" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />
                            }


                            <label class="colortext">Страна:<sup>*</sup></label><br />
                            <textarea class="namesizeeditadd" type="text" name="Contry" required>@Model.Country </textarea><br />
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Дата выхода:@Model.Release_Date.ToShortDateString() <sup>*</sup></label><br />
                            <input type="date" id="Release_Date" name="Release_Date" /><br />

                            <label for="MediaType" class="colortext">Выберите тип:<sup>*</sup></label><br />
                            <select id="type" name="type">
                                @if ((int)Model.MediaType == 0)
                                {
                                    <option value="0" selected>Фильм</option>
                                }
                                else
                                {
                                    <option value="0">Фильм</option>
                                }
                                @if ((int)Model.MediaType == 1)
                                {
                                    <option value="1" selected>Сериал</option>
                                }
                                else
                                {
                                    <option value="1">Сериал</option>
                                }
                            </select>

                            <select hidden multiple id="NumOfGenres" name="NumOfGenres">
                                @foreach (var g in Model.Genres)
                                {
                                    <option value="@g.NumOfGenre"></option>
                                }
                            </select>><br />

                            <label for="Genres" class="colortext">
                                Выберите жанры<sup>*</sup>
                            </label><br />
                            <select multiple id="Genres" name="Genres" required>
                                <option value="Аниме">Аниме</option>
                                <option value="Биография">Биография</option>
                                <option value="Боевик">Боевик</option>
                                <option value="Вестерн">Вестерн</option>
                                <option value="Военный">Военный</option>
                                <option value="Детектив">Детектив</option>
                                <option value="Документальный">Документальный</option>
                                <option value="Драма">Драма</option>
                                <option value="Комедия">Комедия</option>
                                <option value="Криминал">Криминал</option>
                                <option value="Мелодрама">Мелодрама</option>
                                <option value="Музыка">Музыка</option>
                                <option value="Мультфильм">Мультфильм</option>
                                <option value="Мюзикл">Мюзикл</option>
                                <option value="Приключения">Приключения</option>
                                <option value="Семейный">Семейный</option>
                                <option value="Триллер">Триллер</option>
                                <option value="Ужасы">Ужасы</option>
                                <option value="Фантастика">Фантастика</option>
                                <option value="Фэнтези">Фэнтези</option>

                            </select>


                        </td>
                        <td valign="top" class="tdstyle">
                            <label for="Age" class="colortext">Выберите возраст:<sup>*</sup></label><br />
                            <select id="Age" name="Age">
                                @if (Model.Age == 0)
                                {
                                    <option value="0" selected>0+</option>
                                }
                                else
                                {
                                    <option value="0">0+</option>
                                }
                                @if (Model.Age == 6)
                                {
                                    <option value="6" selected>6+</option>
                                }
                                else
                                {
                                    <option value="6">6+</option>
                                }
                                @if (Model.Age == 12)
                                {
                                    <option value="12" selected>12+</option>
                                }
                                else
                                {
                                    <option value="12">12+</option>
                                }
                                @if (Model.Age == 16)
                                {
                                    <option value="16" selected>16+</option>
                                }
                                else
                                {
                                    <option value="16">16+</option>
                                }
                                @if (Model.Age == 18)
                                {
                                    <option value="18" selected>18+</option>
                                }
                                else
                                {
                                    <option value="18">18+</option>
                                }
                            </select><br />
                            <label class="colortext">Время:<sup>*</sup></label><br />
                            <input value=@Model.Runtime type="text" name="RunTime" required /><br />
                        </td>
                    </tr>
                    <tr class="trsizeb">
                        <td valign="top" align="left" class="tdstyle">
                            <label class="colortext">Описание:<sup>*</sup></label><br />
                            <textarea class="descriptionsize" type="text" name="Description" required> @Model.Description </textarea><br />
                            <label class="colortext">Краткое описание:<sup>*</sup></label><br />
                            <textarea class="descriptionsize" type="text" name="shortDiscription" required> @Model.ShortDescription </textarea>
                        </td>
                        <td valign="top" class="tdstyle" style="margin-left: 15px;">                            

                            <label class="colortext">Рейтинг с кинопоиска</label><br />
                            <input value=@Model.ScoreKP type="text" name="ScoreKP" /><br />

                            <label class="colortext">Ссылка на трейлер(с Ютуба)</label><br />
                            <input value=@Model.Video type="text" name="Video" /><br />

                            <label class="colortext">Ссылка на плейлист</label><br />
                            <input value=@Model.SoundTrackUrl type="text" name="Music"/><br />
                        </td>
                        <td valign="top" class="tdstyle">

                            <label class="colortext">Кадр №1</label><br />
                            <input class="colortext" value=@(Convert.ToBase64String(Model.Images[0].MediaImage)) type="file" title="Кадр №1" name="Images1" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />

                            <label class="colortext">Кадр №2</label><br />
                            <input class="colortext" value=@(Convert.ToBase64String(Model.Images[1].MediaImage)) type="file" title="Кадр №2" name="Images2" id="Images2" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />

                            <label class="colortext">Кадр №3</label><br />
                            <input class="colortext" value=@(Convert.ToBase64String(Model.Images[2].MediaImage)) type="file" title="Кадр №3" name="Images3" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />

                            <label class="colortext">Кадр №4</label><br />
                            <input class="colortext" value=@(Convert.ToBase64String(Model.Images[3].MediaImage)) type="file" title="Кадр №4" name="Images4" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />

                            @if ((int)Model.MediaType == 1)
                            {
                                <div id="serial">
                                    <label class="colortext">Количество эпизодов(Необязательно):</label><br />
                                    <input value=@Model.NumOfEpisodes type="number" step="1" min="0" name="NumOfEpisodes"> <br />

                                    <label class="colortext">Количество сезонов(Необязательно):</label><br />
                                    <input value=@Model.NumOfSeason type="number" step="1" min="0" name="NumOfSeason"> <br />
                                </div>
                            }

                        </td>
                    </tr>
                    <tr class="trsizec">
                        <td colspan="3" class="tdstyle">
                            <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("EditFilms", "Films", new { Id = Model.MediaID })>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <script src="~/js/Checked.js"></script>
        <script type="text/javascript">
            CheckedEditFilm(@Json.Serialize(Model));
        </script>
    </div>    
</body>
