@model NewKinoHub.Storage.Entity.Media

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
    <link href="~/css/bg_css/bg_films.css" rel="stylesheet" /> @*не переносить в layout*@
</head>

<body id="bg">
   
    <h1 style="font-weight: bold; color: aliceblue">@Model.Name</h1>
    <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
        <div>
            <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                <img width="265" class="u-back-image u-expanded" src=@Model.Img>
            </a>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div style=" min-height: 20px; width:600px; float:left;">
                            <p>Год: @Model.Year</p>
                            <p>
                                Жанры:
                                @foreach (var film in Model.Genres)
                                {
                                    <a>@film.Genre_Name |</a>
                                }
                            </p>

                            <p>
                                Режиссер:
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.Director)
                                    {
                                        <a href="#" class="textstyle">@director.Person.Name</a>
                                    }
                                }
                            </p>

                            <p>
                                Сценарист:
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.SceenWriter)
                                    {
                                        <a href="#" class="textstyle">@director.Person.Name</a>
                                    }
                                }
                            </p>

                            <p>
                                Актеры:
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.Actor)
                                    {
                                        <a href="#" class="textstyle">@director.Person.Name |</a>
                                    }
                                }
                            </p>

                            <p>Страна: @Model.Country</p>

                            <a><img src=@Model.ScoreKP border='0'></a>
                            <p>Дата выхода: @Model.Release_Date</p>
                            <p>Возраст: @Model.Age+</p>
                            <p>Время: @Model.Runtime</p>
                        </div>
                    </td>
                    <td valign="top" align="right">
                        <a href="#">
                            <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 style=" clear:both;">Описание</h2>
        <p style=" clear:both;">@Model.Description</p>

        <table>
            <colgroup>
                <col span="2" style="background-color:aliceblue;"> @*цвет фона колонок. span - на сколько колонок распространяется*@
            </colgroup>
            <tbody>
                <tr>
                    @*первая строчка*@
                    <td>
                        <h2 style=" clear:both;">Трейлер</h2>
                    </td>
                    <td>
                        <h2 style=" clear:both;">Саундтреки</h2>
                    </td>
                </tr>
                <tr>
                    @*втораястрочка*@
                    <td>
                        <div style="margin-left:45px;">
                            <iframe width="560" height="315" src="@Model.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:45px;">
                            <iframe frameborder="0" style="border:none;height:450px;" height="450" src=@Model.SoundTrackUrl>Слушайте на Яндекс.Музыке</iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="slider middle">
            <div class="slides">

                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">

                <div class="slide s1"><img src=@Model.Images[0].ImagesUrl alt=""></div>
                <div class="slide"><img src=@Model.Images[1].ImagesUrl  alt=""></div>
                <div class="slide"><img src=@Model.Images[2].ImagesUrl alt=""></div>
                <div class="slide"><img src=@Model.Images[3].ImagesUrl  alt=""></div>
            </div>  

            <div class=" navigation">
                <label for="r1" class=" bar"></label>
                <label for="r2" class=" bar"></label>
                <label for="r3" class=" bar"></label>
                <label for="r4" class=" bar"></label>
            </div>
        </div>
    </div>
</body>
</html>