@model NewKinoHub.Storage.Entity.Media

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
    <link href="~/css/stars.css" rel="stylesheet" />    
</head>

<body>
    <div class="wrapper">
        <h1 style="font-weight: bold; color: aliceblue">@Model.Name</h1>
        <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
            <div>
                <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                    @if (Model.Img != null)
                    {
                        <img width="265" class="u-back-image u-expanded" src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Img))">
                    }
                    else
                    {
                        <img width="265" class="u-back-image u-expanded" src="~/lib/images/netpostera.png">
                    }
                </a>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div style=" min-height: 20px; width:600px; float:left;">
                                <p><span style="font-weight:bold">Год:</span> @Model.Release_Date.Year</p>
                                @if ((int)Model.MediaType == 1 && Model.NumOfSeason != null)
                                {
                                    <p><span style="font-weight:bold">Всего сезонов:</span> @Model.NumOfSeason</p>
                                }
                                @if ((int)Model.MediaType == 1 && Model.NumOfEpisodes != null)
                                {
                                    <p><span style="font-weight:bold">Всего серий:</span> @Model.NumOfEpisodes</p>
                                }
                                <p>
                                    <span style="font-weight:bold">Жанры:</span>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        @if (Model.MediaType == 0)
                                        {
                                            <a href=@Url.Action("Filtrations", "Films", new { type = "Film", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                        }
                                        else
                                        {
                                            <a href=@Url.Action("Filtrations", "Films", new { type = "Serial", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Режиссер:</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 0 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Сценарист(ы):</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 1 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Актеры:</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 2 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId}) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                    <a href=@Url.Action("ListActors", "Cast", new { FilmId = Model.MediaID}) class="textstyle">...</a>
                                </p>
                                @if (Model.Country != null)
                                {
                                    <p><span style="font-weight:bold">Страна:</span> @Model.Country</p>
                                }
                                <div class="form_item">
                                    <div class="form_label">Рейтинг:  </div>
                                    <div class="rating">
                                        <div class="rating_body">
                                            <div class="rating_active"></div>
                                            <div class="rating_items">
                                                <input type="radio" class="rating_item" value="1" name="rating">
                                                <input type="radio" class="rating_item" value="2" name="rating">
                                                <input type="radio" class="rating_item" value="3" name="rating">
                                                <input type="radio" class="rating_item" value="4" name="rating">
                                                <input type="radio" class="rating_item" value="5" name="rating">
                                                <input type="radio" class="rating_item" value="6" name="rating">
                                                <input type="radio" class="rating_item" value="7" name="rating">
                                                <input type="radio" class="rating_item" value="8" name="rating">
                                                <input type="radio" class="rating_item" value="9" name="rating">
                                                <input type="radio" class="rating_item" value="10" name="rating">
                                            </div>
                                        </div>
                                        <div class="rating_value">@(Convert.ToString(Model.Score).Replace(',', '.')) @*Оценено: @Model.Reviews.Count*@</div>
                                    </div>
                                </div>

                                <a><img src=@Model.ScoreKP border='0'></a>

                                @if (Model.Release_Date.Year >= 1888 && Model.Release_Date.Year <= 2021)
                                {
                                    <p><span style="font-weight:bold">Дата выхода:</span> @Model.Release_Date.ToShortDateString()</p>
                                }
                                <p><span style="font-weight:bold">Возраст:</span> @Model.Age+</p>
                                @if (Model.Runtime != null)
                                {
                                    <p><span style="font-weight:bold">Время:</span> @Model.Runtime</p>
                                }

                                @if (ViewBag.Role == 1)
                                {
                                    <a class="allcasttitle" href=@Url.Action("ListCasts", "Cast", new { IdFilm = Model.MediaID })>Весь каст</a>
                                }
                            </div>
                        </td>
                        @if (Model.IsFavorites == false && ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("AddFilms", "User", new { Id = Model.MediaID })>
                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            if (ViewBag.User != null)
                            {
                                <td valign="top" align="right" width="30">
                                    <a href=@Url.Action("DeleteFavoriteFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                        <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite11.png'; width = 30; height=30;" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td valign="top" align="right" width="30">
                                    <a><img src="~/lib/images/Icons/favourite.png" width="30" height="30" /></a>
                                </td>
                            }
                        }
                        @if (Model.IsVieweds == false && ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("AddViewedFilms", "User", new { Id = Model.MediaID })>
                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye (1).png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            if (ViewBag.User != null)
                            {
                                <td valign="top" align="right" width="30">
                                    <a href=@Url.Action("DeleteViewedFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                        <img src="~/lib/images/Icons/eye.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye (1).png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye.png'; width = 30; height=30;" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td valign="top" align="right" width="30">
                                    <a><img src="~/lib/images/Icons/eye (1).png" width="30" height="30" /></a>
                                </td>
                            }

                        }
                        @if (ViewBag.Role == 1)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("SearchOrAddCast", "Cast", new { IdFilm = Model.MediaID })>
                                    <img class="deleteicon" src="~/lib/images/Icons/people.png" />
                                </a>
                            </td>
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("EditFilm", "Films", new { Id =  Model.MediaID })>
                                    <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                </a>
                            </td>
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = Model.MediaID })>
                                    <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                </a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <h2 style=" clear:both;">Описание</h2>
            <p style=" clear:both; margin-top:5%; margin-bottom:5%;">@Model.Description</p>

            <table>
                <colgroup>
                    <col span="2" style="background-color:aliceblue;"> @*цвет фона колонок. span - на сколько колонок распространяется*@
                </colgroup>
                <tbody>
                    <tr>
                        @*первая строчка*@
                        <td>
                            <h2 style=" clear:both;">Трейлер</h2>
                        </td>
                        <td>
                            <h2 style=" clear:both;">Саундтреки</h2>
                        </td>
                    </tr>
                    <tr>
                        @*втораястрочка*@
                        <td>
                            <div style="margin-left:45px;">
                                <iframe width="560" height="315" src="@Model.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left:45px;">
                                <iframe frameborder="0" style="border:none;height:450px;" height="450" src=@Model.SoundTrackUrl></iframe>
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 style=" clear:both; margin-top:5%; margin-bottom:5%;">Скриншоты:</h2>
            @if (Model.Images.Count != 0)
            {
                <div class="slider middle" style="margin-bottom:10px;">
                    <div class="slides">

                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">

                        <div class="slide s1"><a href="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[0].MediaImage))" target="_blank"><img src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[0].MediaImage))" alt=""></a></div>
                        <div class="slide"><a href="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[1].MediaImage))" target="_blank"><img src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[1].MediaImage))" alt=""></a></div>
                        <div class="slide"><a href="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[2].MediaImage))" target="_blank"><img src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[2].MediaImage))" alt=""></a></div>
                        <div class="slide"><a href="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[3].MediaImage))" target="_blank"><img src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Images[3].MediaImage))" alt=""></a></div>
                    </div>

                    <div class=" navigation">
                        <label for="r1" class=" bar"></label>
                        <label for="r2" class=" bar"></label>
                        <label for="r3" class=" bar"></label>
                        <label for="r4" class=" bar"></label>
                    </div>
                </div>
            }
            else
            {
                <div class="slider middle" style="margin-bottom:10px;">
                    <div class="slides">

                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">                        
                        <div class="slide s1"><a href="~/lib/images/loading.gif" target="_blank"><img src=~/lib/images/loading.gif alt=""></a></div>
                        <div class="slide"><a href="~/lib/images/loading.gif" target="_blank"><img src=~/lib/images/loading.gif alt=""></a></div>
                        <div class="slide"><a href="~/lib/images/loading.gif" target="_blank"><img src=~/lib/images/loading.gif alt=""></a></div>
                        <div class="slide"><a href="~/lib/images/loading.gif" target="_blank"><img src=~/lib/images/loading.gif alt=""></a></div>
                        
                    </div>

                    <div class=" navigation">
                        <label for="r1" class=" bar"></label>
                        <label for="r2" class=" bar"></label>
                        <label for="r3" class=" bar"></label>
                        <label for="r4" class=" bar"></label>
                    </div>
                </div>
            }


            @if (ViewBag.User != null && ViewBag.Review != true)
            {
                <div style="margin: 10px 0px 10px 0px; height:400px;">
                    <form class="addreviewsfo" action="" method="post" enctype="multipart/form-data">
                        <h4>Добавить отзыв:</h4><br />
                        <div class="form_item">
                            <div class="form_label">Рейтинг:  </div>
                            <div class="rating rating_set">
                                <div class="rating_body">
                                    <div class="rating_active"></div>
                                    <div class="rating_items">
                                        <input type="radio" class="rating_item" value="1" name="rating" required>
                                        <input type="radio" class="rating_item" value="2" name="rating">
                                        <input type="radio" class="rating_item" value="3" name="rating">
                                        <input type="radio" class="rating_item" value="4" name="rating">
                                        <input type="radio" class="rating_item" value="5" name="rating">
                                        <input type="radio" class="rating_item" value="6" name="rating">
                                        <input type="radio" class="rating_item" value="7" name="rating">
                                        <input type="radio" class="rating_item" value="8" name="rating">
                                        <input type="radio" class="rating_item" value="9" name="rating">
                                        <input type="radio" class="rating_item" value="10" name="rating">
                                    </div>
                                </div>
                                <div class="rating_value"></div>
                            </div>
                        </div>
                        <textarea class="addreviewste" rows="10" cols="75" placeholder="Введите ваш отзыв:" name="text"></textarea><br />
                        <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("AddReviews", "Films", new { IdFilm = Model.MediaID })>
                    </form>
                </div>
            }

            <h2 style=" clear:both; margin-top:5%; margin-bottom:5%;display:block; width: 150px;height: 40px;float: left;">Отзывы:</h2>
            @if (ViewBag.User == null)
            {

                <p><span style="font-weight:bold">Чтобы оставить отзыв, необходимо авторизоваться</span></p>

            }


            @if (Model.Reviews != null)
            {

                @foreach (var Revi in Model.Reviews)
                {
                    if (Revi.UsersId != ViewBag.UserId )
                    {   /*отзывы других пользователей*/
                        if (Revi.ImgUser != null)
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(8,8,8,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="data:image/jpeg;base64, @(Convert.ToBase64String(Revi.ImgUser))" />
                                            <p><b>@Revi.Nickname</b></p>
                                            <p><b>@Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:70%;">
                                            <div class="form_item">
                                                <div class="form_label">Рейтинг:  </div>
                                                <div class="rating">
                                                    <div class="rating_body">
                                                        <div class="rating_active"></div>
                                                        <div class="rating_items">
                                                            <input type="radio" class="rating_item" value="1" name="rating">
                                                            <input type="radio" class="rating_item" value="2" name="rating">
                                                            <input type="radio" class="rating_item" value="3" name="rating">
                                                            <input type="radio" class="rating_item" value="4" name="rating">
                                                            <input type="radio" class="rating_item" value="5" name="rating">
                                                            <input type="radio" class="rating_item" value="6" name="rating">
                                                            <input type="radio" class="rating_item" value="7" name="rating">
                                                            <input type="radio" class="rating_item" value="8" name="rating">
                                                            <input type="radio" class="rating_item" value="9" name="rating">
                                                            <input type="radio" class="rating_item" value="10" name="rating">
                                                        </div>
                                                    </div>
                                                    <div class="rating_value">@Revi.Rating</div>
                                                </div>
                                            </div>
                                            <textarea rows="7" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        @if (ViewBag.Role == 1)
                                        {
                                            <td valign="bottom" align="right" style="width:15%;">
                                                <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID,IdUser = Revi.UsersId})>Удалить</a>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(8,8,8,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="~/lib/images/2.jpeg" />
                                            <p><b>Никнейм: @Revi.Nickname</b></p>
                                            <p><b>Дата: @Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:70%;">
                                            <div class="form_item">
                                                <div class="form_label">Рейтинг:  </div>
                                                <div class="rating">
                                                    <div class="rating_body">
                                                        <div class="rating_active"></div>
                                                        <div class="rating_items">
                                                            <input type="radio" class="rating_item" value="1" name="rating">
                                                            <input type="radio" class="rating_item" value="2" name="rating">
                                                            <input type="radio" class="rating_item" value="3" name="rating">
                                                            <input type="radio" class="rating_item" value="4" name="rating">
                                                            <input type="radio" class="rating_item" value="5" name="rating">
                                                            <input type="radio" class="rating_item" value="6" name="rating">
                                                            <input type="radio" class="rating_item" value="7" name="rating">
                                                            <input type="radio" class="rating_item" value="8" name="rating">
                                                            <input type="radio" class="rating_item" value="9" name="rating">
                                                            <input type="radio" class="rating_item" value="10" name="rating">
                                                        </div>
                                                    </div>
                                                    <div class="rating_value">@Revi.Rating</div>
                                                </div>
                                            </div>
                                            <textarea rows="7" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        @if (ViewBag.Role == 1)
                                        {
                                            <td valign="bottom" align="right" style="width:15%;">
                                                <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID,IdUser = Revi.UsersId})>Удалить</a>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        }
                    }
                    if (Revi.UsersId == ViewBag.UserId)
                    {
                        //отзывы пользователя, вошедшего в аккаунт
                        if (Revi.ImgUser != null)
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(247,151,30,0.5);">
                                <tbody>
                                    <tr>
                                        <td style="width:30%;">
                                            <img class="avareviewssize" src="data:image/jpeg;base64, @(Convert.ToBase64String(Revi.ImgUser))" />
                                            <span>@Revi.Nickname</span>
                                            <span>@Revi.DateOfReview</span>
                                        </td>
                                        <td valign="top" align="left" style="width:60%;">
                                            <div class="form_item">
                                                <div class="form_label">Рейтинг:  </div>
                                                <div class="rating">
                                                    <div class="rating_body">
                                                        <div class="rating_active"></div>
                                                        <div class="rating_items">
                                                            <input type="radio" class="rating_item" value="1" name="rating">
                                                            <input type="radio" class="rating_item" value="2" name="rating">
                                                            <input type="radio" class="rating_item" value="3" name="rating">
                                                            <input type="radio" class="rating_item" value="4" name="rating">
                                                            <input type="radio" class="rating_item" value="5" name="rating">
                                                            <input type="radio" class="rating_item" value="6" name="rating">
                                                            <input type="radio" class="rating_item" value="7" name="rating">
                                                            <input type="radio" class="rating_item" value="8" name="rating">
                                                            <input type="radio" class="rating_item" value="9" name="rating">
                                                            <input type="radio" class="rating_item" value="10" name="rating">
                                                        </div>
                                                    </div>
                                                    <div class="rating_value">@Revi.Rating</div>
                                                </div>
                                            </div>
                                            <textarea rows="7" cols="75" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        <td valign="bottom" align="right" style="width:15%;">
                                            <a class="btnreview" href="#editreviews">Редактировать</a><br />
                                            <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID,IdUser = Revi.UsersId})>Удалить</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            
                            <div class="message-conteiner message-conteiner-margin" style="float:right;margin-right: 30px;">
                                <div class="message message-width">
                                    <img src="~/lib/images/2.jpeg" alt="">
                                    <span class="name">@Revi.Nickname</span>
                                    <span class="write">написал(а) отзыв</span>
                                    <p class="date">@Revi.DateOfReview</p>
                                    <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID, IdUser = Revi.UsersId })>
                                        <img src="~/lib/images/X.png" alt="Alternate Text" class="btnreview2" />
                                    </a><br />
                                    <a class="btnreview btnreview2" href="#editreviews">
                                        <img src="~/lib/images/edit.png" alt="Alternate Text" class="btnreview2" />
                                    </a>

                                    <div class="rating" style="clear: both;padding-top: 8px;">
                                        <div class="rating_body">
                                            <div class="rating_active"></div>
                                            <div class="rating_items">
                                                <input type="radio" class="rating_item" value="1" name="rating">
                                                <input type="radio" class="rating_item" value="2" name="rating">
                                                <input type="radio" class="rating_item" value="3" name="rating">
                                                <input type="radio" class="rating_item" value="4" name="rating">
                                                <input type="radio" class="rating_item" value="5" name="rating">
                                                <input type="radio" class="rating_item" value="6" name="rating">
                                                <input type="radio" class="rating_item" value="7" name="rating">
                                                <input type="radio" class="rating_item" value="8" name="rating">
                                                <input type="radio" class="rating_item" value="9" name="rating">
                                                <input type="radio" class="rating_item" value="10" name="rating">
                                            </div>
                                        </div>
                                        <div class="rating_value">@Revi.Rating</div>
                                    </div>
                                    <p class="message-message">@Revi.Description</p>
                                </div>
				            </div>
                            <!--старый вид коментов-->
                            <!--<table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(247,151,30,0.5);">
                                <tbody>
                                    <tr>
                                        <td style="width:30%;">
                                            <img class="avareviewssize" src="~/lib/images/2.jpeg" />
                                            <span> @Revi.Nickname</span>
                                            <span> @Revi.DateOfReview</span>
                                        </td>
                                        <td valign="top" align="left" style="width:60%;">
                                            <div class="form_item">
                                                <div class="form_label">Рейтинг:  </div>
                                                <div class="rating">
                                                    <div class="rating_body">
                                                        <div class="rating_active"></div>
                                                        <div class="rating_items">
                                                            <input type="radio" class="rating_item" value="1" name="rating">
                                                            <input type="radio" class="rating_item" value="2" name="rating">
                                                            <input type="radio" class="rating_item" value="3" name="rating">
                                                            <input type="radio" class="rating_item" value="4" name="rating">
                                                            <input type="radio" class="rating_item" value="5" name="rating">
                                                            <input type="radio" class="rating_item" value="6" name="rating">
                                                            <input type="radio" class="rating_item" value="7" name="rating">
                                                            <input type="radio" class="rating_item" value="8" name="rating">
                                                            <input type="radio" class="rating_item" value="9" name="rating">
                                                            <input type="radio" class="rating_item" value="10" name="rating">
                                                        </div>
                                                    </div>
                                                    <div class="rating_value">@Revi.Rating</div>
                                                </div>
                                            </div>
                                            <textarea rows="7" cols="75" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        <td valign="bottom" align="right" style="width:15%;">
                                            <a class="btnreview" href="#editreviews">Редактировать</a><br />
                                            <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID, IdUser = Revi.UsersId })>Удалить</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <style>
                                .btnreview2 {
                                    display: block;
                                    width: 10px !important;
                                    height: 10px !important;
                                    border-radius: 0px !important;
                                    float: right !important;
                                }
                                .message-conteiner {
                                    width: 800px;
                                    min-height: 5px;
                                    float: left;
                                }
                                .message {
                                    width: 545px;
                                    min-height: 50px;
                                    background-color: #fff;
                                    float: left;
                                    margin-top: 20px;
                                    border: 1px solid lightgray;
                                    position: relative;
                                    padding: 15px;
                                }
                                .rating {
                                    font-size: 20px !important;
                                    /* margin-top: 10px; */
                                }
                                .message-width {
                                    width: 795px;
                                }
                                .message img {
                                    display: block;
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                    float: left;
                                    margin-right: 15px;
                                }
                                .message img, /*!!!!!!!!*/
                                .img-enter {
                                    width: 40px;
                                    height: 40px;
                                    margin-right: 10px;
                                    float: left;
                                }
                                .name {
                                    display: block;
                                    /*color: gray;
	                                font-size: 10px;*/
                                    float: left;
                                    margin-top: 4px;
                                }
                                .write {
                                    display: block;
                                    margin-left: 5px;
                                    margin-top: 4px;
                                    float: left;
                                    color: gray;
                                    font-size: 10px;
                                }

                                .message .date {
                                    display: block;
                                    clear: both;
                                    font-size: 10px;
                                    position: absolute;
                                    top: 35px;
                                    left: 65px;
                                    color: gray;
                                }
                                .message .message-message {
                                    width: 760px;
                                    font-size: 24px;
                                    font-weight: normal;
                                    color: #696969;
                                    clear: left;
                                    overflow-wrap: break-word;
                                }
                                #editreviews > div > form {
                                    width: 100% !important;
                                }
                            </style>
                        }

                        <div id="editreviews">
                            <a href="#"></a>
                            <div>
                                <form class="addreviewsfo" action="" method="post" enctype="multipart/form-data">
                                    <h4>Редактировать отзыв:</h4>
                                    <div class="form_item">
                                        <div class="form_label">Рейтинг:  </div>
                                        <div class="rating rating_set" style="margin-left: 100px;">
                                            <div class="rating_body">
                                                <div class="rating_active"></div>
                                                <div class="rating_items">
                                                    <input type="radio" class="rating_item" value="1" name="rating">
                                                    <input type="radio" class="rating_item" value="2" name="rating">
                                                    <input type="radio" class="rating_item" value="3" name="rating">
                                                    <input type="radio" class="rating_item" value="4" name="rating">
                                                    <input type="radio" class="rating_item" value="5" name="rating">
                                                    <input type="radio" class="rating_item" value="6" name="rating">
                                                    <input type="radio" class="rating_item" value="7" name="rating">
                                                    <input type="radio" class="rating_item" value="8" name="rating">
                                                    <input type="radio" class="rating_item" value="9" name="rating">
                                                    <input type="radio" class="rating_item" value="10" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating_value">@Revi.Rating</div>
                                        </div>
                                    </div>
                                    <br />
                                    <textarea class="addreviewste" rows="8" cols="75" name="text">@Revi.Description</textarea>
                                    <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("EditReviewsModer", "Films", new { IdFilm = Model.MediaID, UserId = Revi.UsersId })><br />
                                </form>
                                <a href="#">Выйти</a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <script src="~/js/stars.js"></script>
    </div>    
</body>
</html>