@model NewKinoHub.Storage.Entity.Media

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
</head>

<body>
    <div class="wrapper">
        @*--------------------Начало блока с Редактировать отзыв--------------------*@
       
        @*--------------------Конец блока с Редактировать отзыв--------------------*@
        <h1 style="font-weight: bold; color: aliceblue">@Model.Name</h1>
        <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
            <div>
                <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                    <img width="265" class="u-back-image u-expanded" src=@Model.Img>
                </a>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div style=" min-height: 20px; width:600px; float:left;">
                                <p><span style="font-weight:bold">Год:</span> @Model.Year</p>
                                <p>
                                    <span style="font-weight:bold">Жанры:</span>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        @if (Model.MediaType == 0)
                                        {
                                            <a href=@Url.Action("Filtrations", "Films", new { type = "Film", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                        }
                                        else
                                        {
                                            <a href=@Url.Action("Filtrations", "Films", new { type = "Serial", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Режиссер:</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 0 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Сценарист(ы):</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 1 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name|</a>
                                        }
                                    }
                                </p>

                                <p>
                                    <span style="font-weight:bold">Актеры:</span>
                                    @foreach (var director in Model.Casts)
                                    {
                                        if ((int)director.RoleInFilm == 2 && director.Person != null)
                                        {
                                            <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId}) class="textstyle">@director.Person.Name |</a>
                                        }
                                    }
                                    <a href=@Url.Action("ListActors", "Cast", new { FilmId = Model.MediaID}) class="textstyle">...</a>
                                </p>

                                <p><span style="font-weight:bold">Страна:</span> @Model.Country</p>

                                <a><img src=@Model.ScoreKP border='0'></a>
                                <p><span style="font-weight:bold">Дата выхода:</span> @Model.Release_Date</p>
                                <p><span style="font-weight:bold">Возраст:</span> @Model.Age+</p>
                                <p><span style="font-weight:bold">Время:</span> @Model.Runtime</p>
                                @if (ViewBag.Role == 1)
                                {
                                    <a class="allcasttitle" href=@Url.Action("ListCasts", "Cast", new { IdFilm = Model.MediaID })>Весь каст</a>
                                }
                            </div>
                        </td>
                        @if (Model.IsFavorites == false && ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("AddFilms", "User", new { Id = Model.MediaID })>
                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            if (ViewBag.User != null)
                            {
                                <td valign="top" align="right" width="30">
                                    <a href=@Url.Action("DeleteFavoriteFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                        <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite11.png'; width = 30; height=30;" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td valign="top" align="right" width="30">
                                    <a><img src="~/lib/images/Icons/favourite.png" width="30" height="30" /></a>
                                </td>
                            }
                        }
                        @if (Model.IsVieweds == false && ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("AddViewedFilms", "User", new { Id = Model.MediaID })>
                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye (1).png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            if (ViewBag.User != null)
                            {
                                <td valign="top" align="right" width="30">
                                    <a href=@Url.Action("DeleteViewedFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                        <img src="~/lib/images/Icons/eye.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye (1).png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye.png'; width = 30; height=30;" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td valign="top" align="right" width="30">
                                    <a><img src="~/lib/images/Icons/eye (1).png" width="30" height="30" /></a>
                                </td>
                            }

                        }
                        @if (ViewBag.Role == 1)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("SearchOrAddCast", "Cast", new { IdFilm = Model.MediaID })>
                                    <img class="deleteicon" src="~/lib/images/Icons/people.png" />
                                </a>
                            </td>
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = Model.MediaID })>
                                    <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                </a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <h2 style=" clear:both;">Описание</h2>
            <p style=" clear:both; margin-top:5%; margin-bottom:5%;">@Model.Description</p>

            <table>
                <colgroup>
                    <col span="2" style="background-color:aliceblue;"> @*цвет фона колонок. span - на сколько колонок распространяется*@
                </colgroup>
                <tbody>
                    <tr>
                        @*первая строчка*@
                        <td>
                            <h2 style=" clear:both;">Трейлер</h2>
                        </td>
                        <td>
                            <h2 style=" clear:both;">Саундтреки</h2>
                        </td>
                    </tr>
                    <tr>
                        @*втораястрочка*@
                        <td>
                            <div style="margin-left:45px;">
                                <iframe width="560" height="315" src="@Model.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                        </td>
                        <td>
                            <div style="margin-left:45px;">
                                <iframe frameborder="0" style="border:none;height:450px;" height="450" src=@Model.SoundTrackUrl>Слушайте на Яндекс.Музыке</iframe>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 style=" clear:both; margin-top:5%; margin-bottom:5%;">Скриншоты:</h2>
            @if (Model.Images.Count != 0)
            {
                <div class="slider middle" style="margin-bottom:10px;">
                    <div class="slides">

                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">

                        <div class="slide s1"><a href="@Model.Images[0].ImagesUrl" target="_blank"><img src=@Model.Images[0].ImagesUrl alt=""></a></div>
                        <div class="slide"><a href="@Model.Images[1].ImagesUrl" target="_blank"><img src=@Model.Images[1].ImagesUrl alt=""></a></div>
                        <div class="slide"><a href="@Model.Images[2].ImagesUrl" target="_blank"><img src=@Model.Images[2].ImagesUrl alt=""></a></div>
                        <div class="slide"><a href="@Model.Images[3].ImagesUrl" target="_blank"><img src=@Model.Images[3].ImagesUrl alt=""></a></div>
                    </div>

                    <div class=" navigation">
                        <label for="r1" class=" bar"></label>
                        <label for="r2" class=" bar"></label>
                        <label for="r3" class=" bar"></label>
                        <label for="r4" class=" bar"></label>
                    </div>
                </div>
            }

            @if (ViewBag.User != null && ViewBag.Review != true)
            {
                <div style="margin: 10px 0px 10px 0px; height:400px;">
                    <form class="addreviewsfo" action="" method="post" enctype="multipart/form-data">
                        <h4>Добавить отзыв:</h4><br />
                        <textarea class="addreviewste" rows="10" cols="75" placeholder="Введите ваш отзыв:" name="text"></textarea><br />
                        <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("AddReviews", "Films", new { IdFilm = Model.MediaID })>
                    </form>
                </div>
            }

            @if (Model.Reviews != null)
            {
                @foreach (var Revi in Model.Reviews)
                {
                    if (Revi.UsersId != ViewBag.UserId && ViewBag.Role != 1)
                    {   /*отзывы других пользователей*/
                        if (Revi.ImgUser != null)
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(8,8,8,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="data:image/jpeg;base64, @(Convert.ToBase64String(Revi.ImgUser))" />
                                            <p><b>Никнейм: @Revi.Nickname</b></p>
                                            <p><b>Дата: @Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:70%;">
                                            <textarea rows="7" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(8,8,8,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="~/lib/images/2.jpeg" />
                                            <p><b>Никнейм: @Revi.Nickname</b></p>
                                            <p><b>Дата: @Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:70%;">
                                            <textarea rows="7" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    }
                    if (Revi.UsersId == ViewBag.UserId || ViewBag.Role == 1)
                    {
                        //отзывы пользователя, вошедшего в аккаунт
                        if (Revi.ImgUser != null)
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(247,151,30,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="data:image/jpeg;base64, @(Convert.ToBase64String(Revi.ImgUser))" />
                                            <p><b>Никнейм: @Revi.Nickname</b></p>
                                            <p><b>Дата: @Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:60%;">
                                            <textarea rows="7" cols="75" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        <td valign="bottom" align="right" style="width:15%;">
                                            <a class="btnreview" href="#editreviews">Редактировать</a><br />
                                            <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID,IdUser = Revi.UsersId})>Удалить</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table style="width:100%; margin-top:10px; background-color:white; border: 2px solid rgba(247,151,30,0.5);">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:30%;">
                                            <img class="avareviewssize" src="~/lib/images/2.jpeg" />
                                            <p><b>Никнейм: @Revi.Nickname</b></p>
                                            <p><b>Дата: @Revi.DateOfReview</b></p>
                                        </td>
                                        <td valign="top" align="left" style="width:60%;">
                                            <textarea rows="7" cols="75" class="viewreviewste" readonly> @Revi.Description </textarea>
                                        </td>
                                        <td valign="bottom" align="right" style="width:15%;">
                                            <a class="btnreview" href="#editreviews">Редактировать</a><br />
                                            <a class="btnreview" href=@Url.Action("DeleteReviews", "Films", new { IdFilm = Model.MediaID, IdUser = Revi.UsersId })>Удалить</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        <div id="editreviews">
                            <a href="#"></a>
                            <div>
                                <form class="addreviewsfo" action="" method="post" enctype="multipart/form-data">
                                    <h4>Редактировать отзыв:</h4><br />
                                    <textarea class="addreviewste" rows="10" cols="75" name="text">@Revi.Description</textarea>
                                    <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("EditReviews", "Films", new { IdFilm = Model.MediaID })><br />
                                </form>
                                <a href="#">Выйти</a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>
</html>