@model NewKinoHub.Storage.Entity.Media

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
</head>

<body>

   
    <h1 style="font-weight: bold; color: aliceblue">@Model.Name</h1>
    <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
        <div>
            <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                <img width="265" class="u-back-image u-expanded" src=@Model.Img>
            </a>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div style=" min-height: 20px; width:600px; float:left;">
                            <p><span style="font-weight:bold">Год:</span> @Model.Year</p>
                            <p>
                                <span style="font-weight:bold">Жанры:</span>
                                @foreach (var genre in Model.Genres)
                                {
                                    @if (Model.MediaType == 0)
                                    {
                                        <a href=@Url.Action("Filtrations", "Films", new { type = "Film", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                    }
                                    else
                                    {
                                        <a href=@Url.Action("Filtrations", "Films", new { type = "Serial", filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                                    }
                                }
                            </p>

                            <p>
                                <span style="font-weight:bold">Режиссер:</span>
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.Director)
                                    {
                                        <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                                    }
                                }
                            </p>

                            <p>
                                <span style="font-weight:bold">Сценарист:</span>
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.SceenWriter)
                                    {
                                        <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                                    }
                                }
                            </p>

                            <p>
                                <span style="font-weight:bold">Актеры:</span>
                                @foreach (var director in Model.Casts)
                                {
                                    if (director.RoleInFilm == ViewBag.Actor)
                                    {
                                        <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name |</a>
                                    }
                                }
                                <a href=@Url.Action("ListCast", "Cast", new { castId = Model.MediaID}) class="textstyle">...</a>
                            </p>

                            <p><span style="font-weight:bold">Страна:</span> @Model.Country</p>

                            <a><img src=@Model.ScoreKP border='0'></a>
                            <p><span style="font-weight:bold">Дата выхода:</span> @Model.Release_Date</p>
                            <p><span style="font-weight:bold">Возраст:</span> @Model.Age+</p>
                            <p><span style="font-weight:bold">Время:</span> @Model.Runtime</p>
                        </div>
                    </td>


                    @if (Model.IsFavorites == false && ViewBag.User != null)

                    {
                        <td valign="top" align="right" width="30">
                            <a href=@Url.Action("AddFilms", "User", new { Id = Model.MediaID })>
                                <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                            </a>
                        </td>
                    }
                    else
                    {
                        if (ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("DeleteFavoriteFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                    <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite11.png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td valign="top" align="right" width="30">
                                <a>
                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                </a>
                            </td>
                        }

                    }
                    @if (Model.IsVieweds == false && ViewBag.User != null)
                    {
                        <td valign="top" align="right" width="30">
                            <a href=@Url.Action("AddViewedFilms", "User", new { Id = Model.MediaID })>
                                <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye (1).png'; width = 30; height=30;" />
                            </a>
                        </td>
                    }
                    else
                    {
                        if (ViewBag.User != null)
                        {
                            <td valign="top" align="right" width="30">
                                <a href=@Url.Action("DeleteViewedFilms", "User", new { Id = Model.MediaID, method = "Film"})>
                                    <img src="~/lib/images/Icons/eye.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye (1).png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye.png'; width = 30; height=30;" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td valign="top" align="right" width="30">
                                <a>
                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                </a>
                            </td>
                        }

                    }
                    @if (ViewBag.Role == 1)
                    {
                        <td valign="top" align="right" width="30">
                            <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = Model.MediaID })>
                                <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                            </a>
                        </td>
                    }

                </tr>
            </tbody>
        </table>
        <h2 style=" clear:both;">Описание</h2>
        <p style=" clear:both; margin-top:5%; margin-bottom:5%;">@Model.Description</p>

        <table>
            <colgroup>
                <col span="2" style="background-color:aliceblue;"> @*цвет фона колонок. span - на сколько колонок распространяется*@
            </colgroup>
            <tbody>
                <tr>
                    @*первая строчка*@
                    <td>
                        <h2 style=" clear:both;">Трейлер</h2>
                    </td>
                    <td>
                        <h2 style=" clear:both;">Саундтреки</h2>
                    </td>
                </tr>
                <tr>
                    @*втораястрочка*@
                    <td>
                        <div style="margin-left:45px;">
                            <iframe width="560" height="315" src="@Model.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:45px;">
                            <iframe frameborder="0" style="border:none;height:450px;" height="450" src=@Model.SoundTrackUrl>Слушайте на Яндекс.Музыке</iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 style=" clear:both; margin-top:5%; margin-bottom:5%;">Скриншоты:</h2>
        @if (Model.Images.Count != 0)
        {
            <div class="slider middle">
                <div class="slides">

                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">

                    <div class="slide s1"><a href="@Model.Images[0].ImagesUrl" target="_blank"><img src=@Model.Images[0].ImagesUrl alt=""></a></div>
                    <div class="slide"><a href="@Model.Images[1].ImagesUrl" target="_blank"><img src=@Model.Images[1].ImagesUrl alt=""></a></div>
                    <div class="slide"><a href="@Model.Images[2].ImagesUrl" target="_blank"><img src=@Model.Images[2].ImagesUrl alt=""></a></div>
                    <div class="slide"><a href="@Model.Images[3].ImagesUrl" target="_blank"><img src=@Model.Images[3].ImagesUrl alt=""></a></div>
                </div>

                <div class=" navigation">
                    <label for="r1" class=" bar"></label>
                    <label for="r2" class=" bar"></label>
                    <label for="r3" class=" bar"></label>
                    <label for="r4" class=" bar"></label>
                </div>
            </div>
        }
        @if (ViewBag.User != null)
        {
        <div style="margin-top:10px;">
            <a class="btn" href="#profil">Добавить отзыв</a>
        </div>

        <div id="profil">
            <a href="#"></a>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <p><b>Введите ваш отзыв:</b></p>
                    <p><textarea rows="10" cols="45" name="text"></textarea></p>
                    <input type="submit" value="Подтвердить" formaction=@Url.Action("AddReviews", "Films", new { IdFilm = Model.MediaID })>
                </form>
                <a href="#">Выйти</a>
            </div>
        </div>
        }
        @if (Model.Reviews != null)
        {
            @foreach (var Revi in Model.Reviews)
            {
                <p><b>Никнейм: @Revi.Nickname</b></p>
                <p><b>Дата: @Revi.DateOfReview</b></p>
                <p><textarea readonly> @Revi.Description </textarea></p>
            }
        }

    </div>
</body>
</html>