@model ICollection<NewKinoHub.Storage.Entity.Media>

<html style="font-size: 16px;">
<head>
    <link rel="stylesheet" href="~/css/favorites.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
</head>

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">
        <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="width: 10% !important; left:0%;">
                            <h2 style="color: white;">@ViewBag.Filtrr</h2>
                        </td>
                        <td style="right:0%;">
                            <nav id="menu1" style="margin-left:50px;">
                                <ul>
                                    <li style="width: 15% !important;">
                                        <a style="background-color:black !important; color:white !important;">Сортировать: </a>@*кнопка*@
                                    </li>
                                    <li style="width: 26% !important;">
                                        <a>По дате выхода</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("Filtrations", "Films", new { sort = "YearOld", type = ViewBag.type ,filtr = ViewBag.filtr})>Сначала старые</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("Filtrations", "Films", new { sort = "YearNew",type = ViewBag.type ,filtr = ViewBag.filtr })>Сначала новые</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width: 24% !important;">
                                        <a href=@Url.Action("Filtrations", "Films", new { sort = "Score",type = ViewBag.type ,filtr = ViewBag.filtr })>По рейтингу</a>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По названию</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("Filtrations", "Films", new { sort = "NameA",type = ViewBag.type ,filtr = ViewBag.filtr })>А-Я</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("Filtrations", "Films", new { sort = "NameZ",type = ViewBag.type ,filtr = ViewBag.filtr })>Я-А</a>
                                            </li>
                                        </ul>
                                    </li>

                                    @* здесь можно добавить еще кнопку как дата выхода*@
                                    @*если не работает, позвать меня*@


                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @foreach (var film in Model.Where(st=>st.MediaType == ViewBag.type))
        {
    <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
     <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
         <img width="265" class="u-back-image u-expanded imagetitle" src=@film.Img>
     </a>

    <div class="bgtitleopacity" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
        <table style="width: 780px;">
            <tbody>
                <tr>
                    <td style="width: 400px;">
                        <p style="font-weight: bold; right:100%; left:0%;"> @film.Name </p>
                    </td>

                    @if (film.IsFavorites == false && ViewBag.User != null)

                    {
                        <td valign="top" align="right">
                            <a>
                                <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                            </a>
                        </td>
                    }
                    else
                    {
                        if (ViewBag.User != null)
                        {
                            <td valign="top" align="right">
                                <a>
                                    <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                </a>
                            </td>
                        }
                        else
                        {
                            <td valign="top" align="right">
                                <a>
                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                </a>
                            </td>
                        }

                    }
                    <td>
                        <a href="#">
                            <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye (1).png'; width = 30; height=30;" />  @*Добавлено в просмотренное : eye.png /// нет в просмотренном eye (1).png*@
                        </a>
                    </td>
                    <td align="right">
                        <a>
                            <img src="~/lib/images/Icons/close.png" width="30" height="30" />
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
        <p><span style="font-weight:bold">Год:</span> @film.Year</p>

        <p>
            <span style="font-weight:bold">Жанр:</span>
            @foreach (var genre in film.Genres)
            {
                <a href=@Url.Action("Filtrations", "Films", new { type = ViewBag.type,filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
            }
        </p>

        <p>
            <span style="font-weight:bold">Режиссер:</span>
            @foreach (var director in film.Casts)
            {
                if (director.RoleInFilm == ViewBag.Director)
                {
                    <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                }
            }
        </p>

        <p>
            <span style="font-weight:bold">Актеры:</span>
            @foreach (var director in film.Casts)
            {
                if (director.RoleInFilm == ViewBag.Actor)
                {
                    <a href=@Url.Action("Person", "Cast", new { personId = director.Id })  class="textstyle">@director.Person.Name |</a>
                }
            }
            <a href=@Url.Action("ListCast", "Cast", new { castId = film.MediaID}) class="textstyle">...</a>
        </p>

        <p><span style="font-weight:bold">Страна:</span> @film.Country</p>
        <p><span style="font-weight:bold">Возраст:</span> @film.Age+</p>
        <a><img src=@film.ScoreKP border='0'></a>
        <p><span style="font-weight:bold">Краткое описание:</span> @film.ShortDescription</p>
    </div>
        <div style=" clear:both;"></div>
    </div>
        }
    </div>
</body>
</html>
