@model ICollection<NewKinoHub.Storage.Entity.Media>

<html style="font-size: 16px;">
<head>
    <link rel="stylesheet" href="~/css/favorites.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
</head>

<body>
    <div style="position:fixed; top:20%; left:3%; ">
        <a href="#" class="addfilm">Добавить Сериал</a>
    </div>
    <div class="wrapper">
        <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="width: 10% !important; left:0%;">
                            <h2 style="color: white;">Сериалы</h2>
                        </td>
                        <td style="right:0%;">
                            <nav id="menu1" style="margin-left:50px;">
                                <ul>
                                    <li style="width: 15% !important;">
                                        <a style="background-color:black !important; color:white !important;">Сортировать: </a>@*кнопка*@
                                    </li>
                                    <li style="width: 26% !important;">
                                        <a>По дате выхода</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "YearOld",type = "Serial" })>Сначала старые</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "YearNew",type = "Serial" })>Сначала новые</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width: 24% !important;">
                                        <a href=@Url.Action("ListSerials", "Films", new { sort = "Score",type = "Serials" })>По рейтингу</a>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По названию</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "NameA",type = "Serial" })>А-Я</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "NameZ",type = "Serial" })>Я-А</a>
                                            </li>
                                        </ul>
                                    </li>

                                    @* здесь можно добавить еще кнопку как дата выхода*@
                                    @*если не работает, позвать меня*@


                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @foreach (var serial in Model.Where(st=>st.MediaType == ViewBag.Type))
        {
            <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                <a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                    <img width="265" class="u-back-image u-expanded imagetitle" src=@serial.Img>
                </a>
                <div class="bgtitleopacity" style=" width:800px;min-height:395px;float:right; background-color: #f7971e; padding-left:10px;">
                    <table style="width: 700px;">
                        <tbody>
                            <tr>
                                <td style="width: 400px;">
                                    <p style="font-weight: bold; right:100%; left:0%;"> @serial.Name </p>
                                </td>

                                @if (serial.IsFavorites == false && ViewBag.User != null)

                                {
                                    <td valign="top" align="right">
                                        <a>
                                            <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    if (ViewBag.User != null)
                                    {
                                        <td valign="top" align="right">
                                            <a>
                                                <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td valign="top" align="right">
                                            <a>
                                                <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }

                                }
                                <td>
                                    <a href="#">
                                        <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/eye.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/eye (1).png'; width = 30; height=30;" />  @*Добавлено в просмотренное : eye.png /// нет в просмотренном eye (1).png*@
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        <img src="~/lib/images/Icons/close.png" width="30" height="30" />
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <p><span style="font-weight:bold">Год:</span> @serial.Year</p>

                    <p>
                        <span style="font-weight:bold">Жанр:</span>
                        @foreach (var genre in serial.Genres)
                        {
                            <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = genre.GenreId }) class="textstyle">@genre.Genre_Name |</a>
                        }
                    </p>

                    <p>
                        <span style="font-weight:bold">Режиссер:</span>
                        @foreach (var director in serial.Casts)
                        {
                            if (director.RoleInFilm == ViewBag.Director)
                            {
                                <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                            }
                        }
                    </p>

                    <p>
                        <span style="font-weight:bold">Актеры:</span>
                        @foreach (var director in serial.Casts)
                        {
                            if (director.RoleInFilm == ViewBag.Actor)
                            {
                                <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name |</a>
                            }
                        }
                        <a href=@Url.Action("ListCast", "Cast", new { castId = serial.MediaID}) class="textstyle">...</a>
                    </p>

                    <p><span style="font-weight:bold">Страна:</span> @serial.Country</p>
                    <p><span style="font-weight:bold">Возраст:</span> @serial.Age+</p>
                    <a><img src=@serial.ScoreKP border='0'></a>
                    <p><span style="font-weight:bold">Краткое описание:</span> @serial.ShortDescription</p>
                </div>
                <div style=" clear:both;"></div>
            </div>
        }
    </div>

</body>
</html>
