@model ICollection<NewKinoHub.Storage.Entity.Media>

<html style="font-size: 16px;">
<head>
    <link href="~/css/Profil.css" rel="stylesheet" />       
</head>

<body>
    <div class="wrapper">
        @if (ViewBag.Role == 1)
        {
            <div style="position:absolute; top:200px; left:3%; ">
                <a href=@Url.Action("AddFilm", "Films") class="addfilm">+</a>
            </div>
        }
        <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="width: 10% !important; left:0%;">
                            <h2 style="color: white;">Фильмы</h2>
                        </td>
                        <td style="right:0%;">
                            <nav id="menu1" style="margin-left:50px;">
                                <ul>
                                    <li style="width: 15% !important;">
                                        <p style="color: white !important;">Сортировать: </p>@*кнопка*@
                                    </li>
                                    <li style="width: 26% !important;">
                                        <a>По дате выхода</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListFilms", "Films", new { sort = "YearOld", type = "Film"})>Сначала старые</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListFilms", "Films", new { sort = "YearNew",type = "Film" })>Сначала новые</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width: 24% !important;">
                                        <a href=@Url.Action("ListFilms", "Films", new { sort = "Score",type = "Film" })>По рейтингу</a>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По названию</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListFilms", "Films", new { sort = "NameA",type = "Film" })>А-Я</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListFilms", "Films", new { sort = "NameZ",type = "Film" })>Я-А</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    @* здесь можно добавить еще кнопку как дата выхода*@
                                    @*если не работает, позвать меня*@

                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top:10px; width:1100px;" class="fav_block_films">
            @foreach (var film in Model.Where(st => st.MediaType == ViewBag.Type))
            {
                <div class="item_films">
                    @if (film.Img != null)
                    {
                    <p>
                        <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64, @(Convert.ToBase64String(film.Img))"></a>
                        @if (film.Score < 5)
                        {

                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: red; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                        }
                        @if (film.Score < 7 && film.Score >= 5)
                        {

                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: dimgrey; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                        }
                        @if (film.Score >= 7 )
                        {

                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: forestgreen; border-radius: 5px; padding-left: 3px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                        }
                    </p>
                     }
                     else
                     {
                <p>
                    <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID })><img width="300" height="400" class="imagetitle" src="~/lib/images/netpostera.png"></a>
                    @if (film.Score < 5)
                    {

                <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: red; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                    }
                    @if (film.Score < 7 && film.Score >= 5)
                    {

                <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: dimgrey; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                    }
                    @if (film.Score >= 7)
                    {

                <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: forestgreen; border-radius: 5px; padding-left: 3px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>

                    }
                </p>
                     }
                    <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID })>@film.Name</a></p>
                    <div class="descr">
                        @if (film.Img != null)
                        {

                            <p>
                                <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(film.Img))"></a>
                                @if (film.Score < 5)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: red; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                                @if (film.Score < 7 && film.Score >= 5)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: dimgrey; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                                @if (film.Score >= 7)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: forestgreen; border-radius: 5px; padding-left: 3px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                            </p>
                        }
                        else
                        {
                            <p>
                                <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID })><img width="340" height="470" src="~/lib/images/netpostera.png"></a>
                                @if (film.Score < 5)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: red; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                                @if (film.Score < 7 && film.Score >= 5)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: dimgrey; border-radius: 5px; padding-left: 6px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                                @if (film.Score >= 7)
                                {
                                    <span style="position: absolute; font-weight: bold; top: 10px; left: 15px; display: block; min-width: 15px !important; width: 25px; background-color: forestgreen; border-radius: 5px; padding-left: 3px; font-size: 15px; color: white; "> @Math.Round(@film.Score, 1)</span>
                                }
                            </p>

                        }

                        <p>
                            <span style="color: white">Год: @film.Release_Date.Year</span>
                        </p>
                        <p>
                            <span style="color: white">
                                Режиссер:@foreach (var director in film.Casts)
                                {
                                    if ((int)director.RoleInFilm == 0 && director.Person != null)
                                    {
                                        <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="genre_st">@director.Person.Name |</a>
                                    }
                                }
                            </span>
                        </p>
                        <p>
                            <span style="color: white">Страна: @film.Country</span>
                        </p>
                        <p>
                            @foreach (var genre in film.Genres)
                            {
                                <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = genre.NumOfGenre }) class="genre_st">@genre.Genre_Name |</a>
                            }
                        </p>
                        <p style="color:white;"> @film.ShortDescription</p>
                    </div>
                    </div>
                }
        </div>
        <script src="~/js/stars.js"></script>
    </div>
</body>
</html>
