@model ICollection<NewKinoHub.Storage.Entity.Media>

<html style="font-size: 16px;">
<head>
    <link href="~/css/Profil.css" rel="stylesheet" />
    <link href="~/css/stars.css" rel="stylesheet" />    
</head>

<body>
    <div wrapper">
        @if (ViewBag.Role == 1)
        {
            <div style="position:absolute; top:5%; left:3%; ">
                <a href=@Url.Action("AddFilm", "Films") class="addfilm">+</a>
            </div>
        }
        <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="width: 10% !important; left:0%;">
                            <h2 style="color: white;">Сериалы</h2>
                        </td>
                        <td style="right:0%;">
                            <nav id="menu1" style="margin-left:50px;">
                                <ul>
                                    <li style="width: 15% !important;">
                                        <a style="background-color:black !important; color:white !important;">Сортировать: </a>@*кнопка*@
                                    </li>
                                    <li style="width: 26% !important;">
                                        <a>По дате выхода</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "YearOld",type = "Serial" })>Сначала старые</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "YearOld",type = "Serial" })>Сначала новые</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width: 24% !important;">
                                        <a href=@Url.Action("ListSerials", "Films", new { sort = "Score",type = "Serial" })>По рейтингу</a>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По названию</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "NameA",type = "Serial" })>А-Я</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListSerials", "Films", new { sort = "NameZ",type = "Serial" })>Я-А</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По создателем</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <form action="/" method="post">
                                                    <select style="width:100px; height: 20px; font-size: 14px;">
                                                        <option value="value" style="font-size: 14px;">Актер</option>
                                                        <option value="value" style="font-size: 14px;">Режисер</option>
                                                        <option value="value" style="font-size: 14px;">Сценарист</option>
                                                    </select>
                                                    <input type="text" style="width:100px; height: 20px; font-size: 14px;" name="name" value="" />
                                                    <input type="submit" name="name" value="Применить" / style="width: 100px; height: 20px; background-color: rgb(247,151,30); color: black; font-size: 14px;">
                                                </form>

                                            </li>

                                        </ul>
                                    </li>
                                    @* здесь можно добавить еще кнопку как дата выхода*@
                                    @*если не работает, позвать меня*@


                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top:10px; width:1100px;" class="fav_block_films">
            @foreach (var serial in Model.Where(st => st.MediaType == ViewBag.Type))
            {
            <div class="item_films">
                @if (serial.Img != null)
                {
                    <p><a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64, @(Convert.ToBase64String(serial.Img))"></a></p>
                }
                else
                {
                    <p><a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID })><img width="300" height="400" class="imagetitle" src="~/lib/images/netpostera.png"></a></p>
                }
                <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID })>@serial.Name</a></p>
                <div class="descr">
                    @if (serial.Img != null)
                    {
                        <p><a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(serial.Img))"></a></p>
                    }
                    else
                    {
                        <p><a href=@Url.Action("Film", "Films", new { IdFilm = serial.MediaID })><img width="340" height="470" src="~/lib/images/netpostera.png"></a></p>
                    }
                    <table width="90" align="right">
                        <tbody>
                            <tr>

                                @if (serial.IsFavorites == false && ViewBag.User != null)

                                {
                                    <td valign="top" align="right" width="30">
                                        <a>
                                            <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    if (ViewBag.User != null)
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }

                                }
                                @if (serial.IsVieweds == false && ViewBag.User != null)
                                {
                                    <td valign="top" align="right" width="30">
                                        <a>
                                            <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    if (ViewBag.User != null)
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/eye.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }

                                    }

                                @if (ViewBag.Role == 1)
                                {
                                    <td align="right" width="30">
                                        <a href=@Url.Action("EditFilm", "Films", new { Id = serial.MediaID })>
                                            <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                        </a>
                                    </td>
                                }

                                @if (ViewBag.Role == 1)
                                {
                                    <td align="right" width="30">
                                        <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = serial.MediaID })>
                                            <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                        </a>
                                    </td>
                                }

                            </tr>
                        </tbody>
                    </table>
                    <p><span style="font-weight:bold">Год:</span> @serial.Year</p>
                    <p>
                        <span style="font-weight:bold">Жанры:</span>
                        @foreach (var genre in serial.Genres)
                        {
                            <a href=@Url.Action("Filtrations", "Films", new { type = "Serial",filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                        }
                    </p>
                    <p>
                        <span style="font-weight:bold">Режиссер:</span>
                        @foreach (var director in serial.Casts)
                        {
                            if ((int)director.RoleInFilm == 0 && director.Person != null)
                            {
                                <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name</a>
                            }
                        }
                    </p>
                    <p>
                        <span style="font-weight:bold">Актеры:</span>
                        @foreach (var director in serial.Casts)
                        {
                            if ((int)director.RoleInFilm == 2 && director.Person != null)
                            {
                                <a href=@Url.Action("Person", "Persons", new { personId = director.PersonId }) class="textstyle">@director.Person.Name |</a>
                            }
                        }
                        <a href=@Url.Action("ListActors", "Cast", new { FilmId = serial.MediaID}) class="textstyle">...</a>
                    </p>
                    <p><span style="font-weight:bold">Страна:</span> @serial.Country</p>
                    <p><span style="font-weight:bold">Возраст:</span> @serial.Age+</p>
                    <a><img src=@serial.ScoreKP border='0'></a>
                    <p><span style="font-weight:bold">Краткое описание:</span> @serial.ShortDescription</p>
                    @if (ViewBag.Role == 1)
                    {
                         <a class="allcastlist" href=@Url.Action("ListCasts", "Cast", new { IdFilm = serial.MediaID })>Весь каст</a>
                     }
                </div>
                <div style=" clear:both;"></div>
            </div>
        }
    </div>

</body>
</html>

