@model ICollection<NewKinoHub.Storage.Entity.Media>

<html style="font-size: 16px;">
<head>
    <link rel="stylesheet" href="~/css/favorites.css" media="screen">
    <link href="~/css/Profil.css" rel="stylesheet" />
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
</head>

<body>
    <div wrapper">
        @if (ViewBag.Role == 1)
        {
            <div style="position:fixed; top:20%; left:3%; ">
                <a href=@Url.Action("AddFilm", "Films") class="addfilm">Добавить Фильм</a>
            </div>
        }
            <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
                <table style="margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td style="width: 10% !important; left:0%;">
                                <h2 style="color: white;">Фильмы</h2>
                            </td>
                            <td style="right:0%;">
                                <nav id="menu1" style="margin-left:50px;">
                                    <ul>
                                        <li style="width: 15% !important;">
                                            <a style="background-color:black !important; color:white !important;">Сортировать: </a>@*кнопка*@
                                        </li>
                                        <li style="width: 26% !important;">
                                            <a>По дате выхода</a>
                                            <ul>
                                                @*что выпадает при наведении на кнопку дата выхода*@

                                                <li>
                                                    <a href=@Url.Action("ListFilms", "Films", new { sort = "YearOld", type = "Film"})>Сначала старые</a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("ListFilms", "Films", new { sort = "YearNew",type = "Film" })>Сначала новые</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li style="width: 24% !important;">
                                            <a href=@Url.Action("ListFilms", "Films", new { sort = "Score",type = "Film" })>По рейтингу</a>
                                        </li>
                                        <li style="width:26% !important;">
                                            <a>По названию</a>
                                            <ul>
                                                @*что выпадает при наведении на кнопку дата выхода*@

                                                <li>
                                                    <a href=@Url.Action("ListFilms", "Films", new { sort = "NameA",type = "Film" })>А-Я</a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("ListFilms", "Films", new { sort = "NameZ",type = "Film" })>Я-А</a>
                                                </li>
                                            </ul>
                                        </li>

                                        @* здесь можно добавить еще кнопку как дата выхода*@
                                        @*если не работает, позвать меня*@


                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @foreach (var film in Model.Where(st => st.MediaType == ViewBag.Type))
            {
                <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                    <a href=@Url.Action("Film", "Films", new { IdFilm = film.MediaID }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                        <img width="265" class="u-back-image u-expanded imagetitle" src=@film.Img>
                    </a>
                    <div class="bgtitleopacity" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                        <table style="width: 780px;">
                            <tbody>
                                <tr>
                                    <td style="width: 400px;">
                                        <p style="font-weight: bold; right:100%; left:0%;"> @film.Name </p>
                                    </td>

                                    @if (film.IsFavorites == false && ViewBag.User != null)
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        if (ViewBag.User != null)
                                        {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite11.png" width="30" height="30" />
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/favourite.png" width="30" height="30" />
                                                </a>
                                            </td>
                                        }

                                    }

                                    @if (film.IsVieweds == false && ViewBag.User != null)
                                    {
                                        <td valign="top" align="right" width="30">
                                            <a>
                                                <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        if (ViewBag.User != null)
                                        {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye.png" width="30" height="30" />
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td valign="top" align="right" width="30">
                                                <a>
                                                    <img src="~/lib/images/Icons/eye (1).png" width="30" height="30" />
                                                </a>
                                            </td>
                                        }

                                    }

                                    @if (ViewBag.Role == 1)
                                    {
                                        <td align="right" width="30">
                                            <a href=@Url.Action("EditFilm", "Films", new { Id = film.MediaID })>
                                                <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                            </a>
                                        </td>
                                    }

                                    @if (ViewBag.Role == 1)
                                    {
                                        <td align="right" width="30">
                                            <a href=@Url.Action("DeleteFilm", "Films", new { IdFilm = film.MediaID })>
                                                <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                            </a>
                                        </td>
                                    }

                                </tr>
                            </tbody>
                        </table>
                        <p><span style="font-weight:bold">Год:</span> @film.Year</p>

                        <p>
                            <span style="font-weight:bold">Жанр:</span>
                            @foreach (var genre in film.Genres)
                            {
                                <a href=@Url.Action("Filtrations", "Films", new { type = "Film",filtr = genre.NumOfGenre }) class="textstyle">@genre.Genre_Name |</a>
                            }
                        </p>

                        <p>
                            <span style="font-weight:bold">Режиссер:</span>
                            @foreach (var director in film.Casts)
                            {
                                if (director.RoleInFilm == ViewBag.Director)
                                {
                                    <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name</a>
                                }
                            }

                        </p>

                        <p>
                            <span style="font-weight:bold">Актеры:</span>
                            @foreach (var director in film.Casts)
                            {
                                if (director.RoleInFilm == ViewBag.Actor)
                                {
                                    <a href=@Url.Action("Person", "Cast", new { personId = director.Id }) class="textstyle">@director.Person.Name |</a>
                                }
                            }
                            <a href=@Url.Action("ListCast", "Cast", new { castId = film.MediaID}) class="textstyle">...</a>
                        </p>


                        <p><span style="font-weight:bold">Страна:</span> @film.Country</p>
                        <p><span style="font-weight:bold">Возраст:</span> @film.Age+</p>
                        <a><img src=@film.ScoreKP border='0'></a>
                        <p><span style="font-weight:bold">Краткое описание:</span> @film.ShortDescription</p>
                    </div>
                    <div style=" clear:both;"></div>
                </div>
            }
        </div>
</body>
</html>
