@model NewKinoHub.Storage.Entity.Person
<head>
    <link href="~/css/editadd.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="wrapper">
        <h1 class="coloraddtext">Редактирование:</h1>
        <form action="" method="post" enctype="multipart/form-data" style="width:100% !important;">
            <table class="tablesize" cellpadding="10">
                <tbody>
                    <tr class="trsizea">
                        <td valign="top" align="left" class="tdstyle">
                            <label class="colortext">Name:<sup>*</sup></label><br />
                            <textarea class="namesizeeditadd" type="text" name="Name" required>@Model.Name</textarea><br />

                            <label class="colortext">Фото:<sup>*</sup></label><br />
                            @if (Model.Img != null)
                            {
                                <input class="colortext" value=@(Convert.ToBase64String(Model.Img)) type="file" title="Выберите фото" name="mainPhoto" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />
                            }
                            else
                            {
                                <input class="colortext" type="file" title="Выберите фото" name="mainPhoto" accept=".jpg, .jpeg, .png, .bmp, .gif"><br /><br />
                            }
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Настоящее имя:<sup>*</sup></label><br />
                            <textarea class="namesizeeditadd" type="text" name="OriginalName" required>@Model.OriginalName</textarea><br />
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Роли в киноиндустрии:<sup>*</sup></label>
                            <ul style="margin-top: 17px;">
                                @*что выпадает при наведении на кнопку дата выхода*@

                                <li style="width:150px;height: 110px;  font-size: 14px;">
                                    <label class="colortext">
                                        <input id="IsActor" type="checkbox" name="IsActor" value="true" style="margin: 5px;  margin-top: 15px;">Актер
                                    </label>
                                    <br />
                                    <label class="colortext">
                                        <input id="IsDirector" type="checkbox" name="IsDirector" value="true" style="margin: 5px;">Режиссёр
                                    </label>
                                    <br />
                                    <label class="colortext">
                                        <input id="IsSceenwriter" type="checkbox" name="IsScreenwriter" value="true" style="margin: 5px;">Сценарист
                                    </label>


                                </li>

                            </ul>

                            <br />
                        </td>

                        <td valign="top" class="tdstyle">
                            <label class="colortext">Награды(необязательно):<sup></sup></label><br />
                            <textarea class="namesizeeditadd" type="text" name="Awards">@Model.Awards</textarea><br />
                        </td>
                    </tr>

                    <tr class="trsizeb">
                        <td valign="top" colspan="2" class="tdstyle">
                            <label class="colortext">Интересные факты:<sup>*</sup></label><br />
                            <textarea class="descriptionsize" type="text" name="Description" required> @Model.Description</textarea>
                        </td>

                        <td valign="top" align="left" class="tdstyle">

                            <label class="colortext">Дата рождения:@if (Model.DateOfBirthday.Year != 0001) { Model.DateOfBirthday.ToShortDateString(); } else { }</label><br />
                            <input type="date" id="DateOfBirthday" name="DateOfBirthday" /><br />

                            <label class="colortext">Место рождения(необязательно):<sup></sup></label><br />
                            <textarea class="descriptionsize" type="text" name="PlaceOfBirthday"> @Model.PlaceOfBirthday</textarea>

                           
                        <label class="colortext">Дата смерти: @if (Model.DateOfDeath.Year != 0001) { Model.DateOfDeath.ToShortDateString(); } else { }</label><br />
                           <input type="date" id="DateOfDeath" name="DateOfDeath" /><br />
                            
                        
                        </td>
                        <td valign="top" class="tdstyle">
                            <label class="colortext">Супруг(а):<sup></sup></label><br />
                            <textarea class="descriptionsize" type="text" name="Spouse"> @Model.Spouse</textarea>

                            <label class="colortext">Рост:<sup></sup></label><br />
                            <input value="@Model.Height" step="0.01" min=0 max=2.5 type="text" name="Height" /> <br />

                            @if (@Model.PlaceOfDeath != null)
                            {
                                <label class="colortext">Место смерти: @Model.PlaceOfDeath</label><br />
                                <textarea class="descriptionsize" type="text" name="PlaceOfDeath"> @Model.PlaceOfDeath</textarea>
                            }
                            else
                            {
                                <label class="colortext">Место смерти(необязательно):</label><br />
                                <textarea class="descriptionsize" type="text" name="PlaceOfDeath"> @Model.PlaceOfDeath</textarea>
                            }
                        </td>
                    </tr>
                    <tr class="trsizec">
                        <td colspan="3" class="tdstyle">
                            <input class="btn" type="submit" value="Подтвердить" formaction=@Url.Action("Edit", "Persons", new { personId = Model.Id })>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <script src="~/js/Checked.js"></script>
        <script type="text/javascript">
            CheckedPersonRole(@Json.Serialize(Model));
        </script>
    </div>
</body>

