    @model ICollection<NewKinoHub.Storage.Entity.Person>

<html style="font-size: 16px;">

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">
        <div style="margin-top:50px; margin-bottom:30px; width: 95%;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="right:0%;">
                            <nav id="menu1" style="margin-left:50px;">
                                <ul>
                                    <li style="width: 15% !important;">
                                        <a style="background-color:black !important; color:white !important;">Сортировать: </a>@*кнопка*@
                                    </li>
                                    <li style="width: 26% !important;">
                                        <a>По дате рождения</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListPersons", "Persons", new { sort = "YearOld"})>По возрастанию</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListPersons", "Persons", new { sort = "YearNew"})>По убыванию</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="width:26% !important;">
                                        <a>По названию</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li>
                                                <a href=@Url.Action("ListPersons", "Persons", new { sort = "NameA"})>А-Я</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("ListPersons", "Persons", new { sort = "NameZ"})>Я-А</a>
                                            </li>
                                        </ul>
                                    </li>

                                    @* здесь можно добавить еще кнопку как дата выхода*@
                                    @*если не работает, позвать меня*@
                                </ul>
                                <br>

                                <ul style="position: absolute; left: 700px; top:0px;">
                                    <li>
                                        <a>Фильтр:</a>
                                        <ul>
                                            @*что выпадает при наведении на кнопку дата выхода*@

                                            <li style="width:150px;height: 110px;  font-size: 14px;">
                                                <form action="/" method="post">
                                                    <!--<select style="width: 100px; height: 20px;">
                                                    <option value="Актеры" style="width: 100px; height: 20px; font-size: 14px;">Актеры</option>
                                                    <option value="Режисёры" style="width: 100px; height: 20px; font-size: 14px;">Режисёры</option>
                                                    <option value="Сценаристы" style="width: 100px; height: 20px; font-size: 14px;">Сценаристы</option>
                                                </select>-->

                                                <label>
                                                    <input type="checkbox" name="Actors" value="Актеры" style="margin: 5px;  margin-top: 15px;">Актеры
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="checkbox" name="Directors" value="Режисёры" style="margin: 5px;">Режисёры
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="checkbox" name="SceenWriter" value="Сценаристы" style="margin: 5px;">Сценаристы
                                                </label>
                                                <br />
                                                <br />
                                                <br />
                                                @*<a href=@Url.Action("Filtrations", "Persons", new { }) style="background-color:rgb(247,151,30); color:black; border-top: none; padding-left: 38px;">Применить</a>*@
                                                <input class="btn" type="submit" value="Применить" style="width: 150px; height: 35px; background-color: rgb(247,151,30); color: black; font-size: 14px; border-radius: 0px !important;" formaction="~/Persons/Filtrations">
                                            </form>
                                            
                                        </li>
                                        
                                    </ul>
                                </li>
                            </ul>

                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top:10px; width:1100px;" class="fav_block_films">
            @foreach (var Person in Model)
            {
                <div class="item_films" style="color:white;">
                    @if (Person.Img != null)
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = Person.Id })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64,  @(Convert.ToBase64String(Person.Img))"></a></p>
                    }
                    else
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = Person.Id })><img width="300" height="400" class="imagetitle" src="~/lib/images/trav1.gif"></a></p>
                    }
                    <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Person", "Persons", new { personId = Person.Id })>@Person.Name</a></p>
                    <div class="descr">
                        @if (Person.Img != null)
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = Person.Id })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(Person.Img))"></a></p>
                        }
                        else
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = Person.Id })><img width="340" height="470" src="~/lib/images/trav1.gif"></a></p>
                        }
                        <p>
                            <span style="font-weight:bold">Карьера:</span>
                            @if (Person.IsActor != false)
                            {<a class="genre_st" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "Actor",IdPerson = Person.Id })> Актёр </a>}
                            @if (Person.IsDirector != false)
                            {<a class="genre_st" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "Director",IdPerson = Person.Id })> Режиссёр </a>}
                            @if (Person.IsScreenWriter != false)
                            {<a class="genre_st" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "ScreenWriter",IdPerson = Person.Id })> Сценарист </a>}
                        </p>
                        @if (Person.DateOfBirthday.Year != 0001)
                        {
                            <p>
                                <span style="font-weight:bold">Дата рождения:</span> @Person.DateOfBirthday.ToShortDateString()
                            </p>
                        }
                        @if (Person.Age != -1)
                        {
                            @if (Person.Age % 10 == 2 || Person.Age % 10 == 3 || Person.Age % 10 == 4)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Person.Age года</p>
                            }
                            else if (Person.Age % 10 == 1)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Person.Age год</p>
                            }
                            else
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Person.Age лет</p>
                            }
                        }

                        @if (Person.DateOfDeath.Year != 0001)
                        {
                            <p> <span style="font-weight:bold">Дата смерти:</span> @Person.DateOfDeath.ToShortDateString()</p>
                        }
                    </div>
                </div>



                 <div style=" clear:both;"></div>
            </div>
        }
    </div>

</body>
</html>
