@model ICollection<NewKinoHub.Storage.Entity.Person>

<html style="font-size: 16px;">

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">

        @foreach (var Person in Model)
        {
        <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
            <a href=@Url.Action("Person", "Persons", new { personId = Person.Id }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                <img height="395" width="265" class="u-back-image u-expanded imagetitle" src=@Person.Image>
            </a>
            <div class="bglistcast" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                <table style="width: 780px; color:black;">
                    <tbody>
                        <tr>
                            <td style="width: 400px;">
                                <p style="font-weight: bold; right:100%; left:0%;"> @Person.Name </p>

                                <p><span style="font-weight:bold">Карьера:</span> @Person.RolesInMedia </p>
                                @if (Person.DateOfBirthday.Year != 0001)
                                {
                                    <p>
                                        <span style="font-weight:bold">Дата рождения:</span> @Person.DateOfBirthday.ToShortDateString()
                                    </p>
                                }
                                @if (Person.Age != -1)
                                {
                                    @if (Person.Age % 10 == 2 || Person.Age % 10 == 3 || Person.Age % 10 == 4)
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @Person.Age года</p>
                                    }
                                    else if (Person.Age % 10 == 1)
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @Person.Age год</p>
                                    }
                                    else
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @Person.Age лет</p>
                                    }
                                }

                                @if (Person.DateOfDeath.Year != 0001)
                                {
                                    <p> <span style="font-weight:bold">Дата смерти:</span> @Person.DateOfDeath.ToShortDateString()</p>
                                }
                            </td>
                            @if (ViewBag.Role == 1)
                            {
                                <td align="right" valign="top" width="30">
                                    <a href=@Url.Action("EditPerson", "Persons", new { personId = Person.Id})>
                                        <img class="deleteicon" src="~/lib/images/Icons/edit.png" />
                                    </a>
                                </td>
                                <td valign="top" align="right" width="30">
                                    <a href=@Url.Action("DeletePerson", "Persons", new { IdPerson = Person.Id})>
                                        <img class="deleteicon" src="~/lib/images/Icons/close.png" />
                                    </a>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

            
            <div style=" clear:both;"></div>
        </div>
        }
    </div>
</body>
</html>
