@model ICollection<NewKinoHub.Storage.Entity.Cast>

<html style="font-size: 16px;">
<head>
    <link rel="stylesheet" href="~/css/favorites.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
</head>

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">

        @foreach (var cast in Model)
        {
            <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                <a href=@Url.Action("Person", "Cast", new { personId = cast.Id }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">
                    <img height="395" width="265" class="u-back-image u-expanded imagetitle" src=@cast.Person.Image>
                </a>
                <div class="bglistcast" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                     <p style="font-weight: bold; right:100%; left:0%;"> @cast.Person.Name </p>
                    @if (cast.RoleInFilm == ViewBag.Actor)
                    {
                        <p><span style="font-weight:bold">Роль в фильме:</span>

                        @cast.Character 
                
                        </p>
                    }
                    @*<p><span style="font-weight:bold">Страна:</span> @film.Country</p>
                    <p><span style="font-weight:bold">Возраст:</span> @film.Age+</p>
                    <a><img src=@film.ScoreKP border='0'></a>
                    <p><span style="font-weight:bold">Краткое описание:</span> @film.ShortDescription</p>*@
                </div>
                <div style=" clear:both;"></div>
            </div>
        }
    </div>
</body>
</html>
