@model ICollection<NewKinoHub.Storage.Entity.Cast>

<html style="font-size: 16px;">

<body>
    <div class="u-clearfix u-sheet u-sheet-1 wrapper">
        <h1 style="font-weight: bold; color: aliceblue">Режиссёры</h1>
        <div style="margin-top:10px; width:1100px;" class="fav_block_films">
            @foreach (var director in Model.Where(st => (int)st.RoleInFilm == 0))
            {
                <div class="item_films">
                    @if (director.Person.Img != null)
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = director.PersonId })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64,  @(Convert.ToBase64String(director.Person.Img))"></a></p>
                    }
                    else
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = director.PersonId })><img width="300" height="400" class="imagetitle" src="~/lib/images/trav1.gif"></a></p>
                    }
                    <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Person", "Persons", new { personId = director.PersonId })>@director.Person.Name</a></p>
                    <div class="descr">
                        @if (director.Person.Img != null)
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = director.PersonId })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(director.Person.Img))"></a></p>
                        }
                        else
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = director.PersonId })><img width="340" height="470" src="~/lib/images/trav1.gif"></a></p>
                        }
                        @if ((int)director.RoleInFilm == 2)
                        {
                            <p style="color:white;">
                                <span style="font-weight:bold; color:white;">Роль в фильме:</span>

                                @director.Character

                            </p>
                        }
                    </div>
                </div>
            }
        </div>
        <h1 style="font-weight: bold; color: aliceblue">Сценаристы</h1>
        <div style="margin-top:10px; width:1100px;" class="fav_block_films">
            @foreach (var screenwriter in Model.Where(st => (int)st.RoleInFilm == 1))
            {
                <div class="item_films">
                    @if (screenwriter.Person.Img != null)
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = screenwriter.PersonId })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64,  @(Convert.ToBase64String(screenwriter.Person.Img))"></a></p>
                    }
                    else
                    {
                        <p><a href=@Url.Action("Person", "Persons", new { personId = screenwriter.PersonId })><img width="300" height="400" class="imagetitle" src="~/lib/images/trav1.gif"></a></p>
                    }
                    <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Person", "Persons", new { personId = screenwriter.PersonId })>@screenwriter.Person.Name</a></p>
                    <div class="descr">
                        @if (screenwriter.Person.Img != null)
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = screenwriter.PersonId })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(screenwriter.Person.Img))"></a></p>
                        }
                        else
                        {
                            <p><a href=@Url.Action("Person", "Persons", new { personId = screenwriter.PersonId })><img width="340" height="470" src="~/lib/images/trav1.gif"></a></p>
                        }
                        @if ((int)screenwriter.RoleInFilm == 2)
                        {
                            <p style="color:white;">
                                <span style="font-weight:bold; color:white;">Роль в фильме:</span>

                                @screenwriter.Character

                            </p>
                        }
                    </div>
                </div>
            }
        </div>
        <h1 style="font-weight: bold; color: aliceblue">Актёры</h1>
              <div style="margin-top:10px; width:1100px;" class="fav_block_films">
                  @foreach (var actor in Model.Where(st => (int)st.RoleInFilm == 2))
                  {
                      <div class="item_films">
                          @if (actor.Person.Img != null)
                          {
                              <p><a href=@Url.Action("Person", "Persons", new { personId = actor.PersonId })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64,  @(Convert.ToBase64String(actor.Person.Img))"></a></p>
                          }
                          else
                          {
                              <p><a href=@Url.Action("Person", "Persons", new { personId = actor.PersonId })><img width="300" height="400" class="imagetitle" src="~/lib/images/trav1.gif"></a></p>
                          }
                          <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Person", "Persons", new { personId = actor.PersonId })>@actor.Person.Name</a></p>
                          <div class="descr">
                              @if (actor.Person.Img != null)
                              {
                                  <p><a href=@Url.Action("Person", "Persons", new { personId = actor.PersonId })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(actor.Person.Img))"></a></p>
                              }
                              else
                              {
                                  <p><a href=@Url.Action("Person", "Persons", new { personId = actor.PersonId })><img width="340" height="470" src="~/lib/images/trav1.gif"></a></p>
                              }
                              @if ((int)actor.RoleInFilm == 2)
                              {
                                  <p style="color:white;">
                                      <span style="font-weight:bold; color:white;">Роль в фильме:</span>

                                      @actor.Character

                                  </p>
                              }
                          </div>
                      </div>
                  }
              </div>
    </div>
</body>
</html>
