@model NewKinoHub.Storage.Entity.Cast

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
</head>

<body>

   <div class="wrapper">
    
    <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
        <div>
            <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                <img width="265" class="u-back-image u-expanded" src=@Model.Person.Image>
            </a>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div style=" min-height: 20px; width:600px; float:left;">

                            <h1 style="font-weight: bold; color: black">@Model.Person.Name</h1>
                            <p><span style="font-weight:bold">OriginalName:</span> @Model.Person.OriginalName</p>

                            <p>
                                <span style="font-weight:bold">Дата рождения:</span> @Model.Person.DateOfBirthday
                            </p>
                            @if (Model.Person.Age % 10 == 2 || Model.Person.Age % 10 == 3 || Model.Person.Age % 10 == 4)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age года</p>
                            }
                            else if (Model.Person.Age % 10 == 1)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age год</p>
                            }
                            else
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age лет</p>
                            }
                            @if (Model.Person.DateOfDeath != null)
                            {
                                <p> <span style="font-weight:bold">Дата смерти:</span> @Model.Person.DateOfDeath</p>
                            }
                            <p><span style="font-weight:bold">Место рождения:</span> @Model.Person.PlaceOfBirthday</p>
                            @if (Model.Person.Spouse != null)
                            {
                                <p> <span style="font-weight:bold">Супруг(а):</span> @Model.Person.Spouse</p>
                            }
                            @if (Model.Person.Awards != null)
                            {
                                <p> <span style="font-weight:bold">Награды:</span> @Model.Person.Awards</p>
                            }

                        </div>
                    </td>
                    <td valign="top" align="right">
                        <a href="#">
                            <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 style=" clear:both;">Интересные факты</h2>
        <p style=" clear:both;">@Model.Person.Description</p>


            <!--<table>
            <colgroup>
                <col span="2" style="background-color:aliceblue;">-->
            @*цвет фона колонок. span - на сколько колонок распространяется*@
            <!--</colgroup>
        <tbody>
            <tr>-->
            @*первая строчка*@
            <!--<td>
                <h2 style=" clear:both;">Трейлер</h2>
            </td>
            <td>
                <h2 style=" clear:both;">Саундтреки</h2>
            </td>
        </tr>
        <tr>-->
            @*втораястрочка*@
            <!--<td>
                        <div style="margin-left:45px;">
                            <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:45px;">
                            <iframe frameborder="0" style="border:none;height:450px;" height="450" src=>Слушайте на Яндекс.Музыке</iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>-->
            @*<div class="slider middle">
                <div class="slides">

                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">

                    <div class="slide s1"><img src=@Model.Images[0].ImagesUrl alt=""></div>
                    <div class="slide"><img src=@Model.Images[1].ImagesUrl  alt=""></div>
                    <div class="slide"><img src=@Model.Images[2].ImagesUrl alt=""></div>
                    <div class="slide"><img src=@Model.Images[3].ImagesUrl  alt=""></div>
                </div>

                <div class=" navigation">
                    <label for="r1" class=" bar"></label>
                    <label for="r2" class=" bar"></label>
                    <label for="r3" class=" bar"></label>
                    <label for="r4" class=" bar"></label>
                </div>
            </div>*@
        </div>
    </div>
</body>
</html>