@model NewKinoHub.Storage.Entity.Cast

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/carouseltitle.css" rel="stylesheet" /> @*не переносить в layout*@
</head>

<body>

   <div class="wrapper">
    
    <div style="width: 1100px; min-height: 380px;  background-color:azure; min-height : 580px; padding: 20px;">
        <div>
            <a style="display:block; width : 250px; float : left; margin-right : 20px; margin-bottom: 40px;">
                <img width="265" class="u-back-image u-expanded" src=@Model.Person.Image>
            </a>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div style=" min-height: 20px; width:600px; float:left;">

                            <h1 style="font-weight: bold; color: black">@Model.Person.Name</h1>
                            <p><span style="font-weight:bold">OriginalName:</span> @Model.Person.OriginalName</p>

                            <p>
                            <p><span style="font-weight:bold">Карьера:</span> @Model.Person.RolesInMedia </p>

                            <p>
                                <span style="font-weight:bold">Дата рождения:</span> @Model.Person.DateOfBirthday
                            </p>
                            @if (Model.Person.Age != -1)
                            {
                            @if (Model.Person.Age % 10 == 2 || Model.Person.Age % 10 == 3 || Model.Person.Age % 10 == 4)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age года</p>
                            }
                            else if (Model.Person.Age % 10 == 1)
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age год</p>
                            }
                            else
                            {
                                <p> <span style="font-weight:bold">Возраст:</span> @Model.Person.Age лет</p>
                            }
                            }
                            @if (Model.Person.DateOfDeath != null)
                            {
                                <p> <span style="font-weight:bold">Дата смерти:</span> @Model.Person.DateOfDeath</p>
                            }
                            <p><span style="font-weight:bold">Место рождения:</span> @Model.Person.PlaceOfBirthday</p>
                            @if (Model.Person.Spouse != null)
                            {
                                <p> <span style="font-weight:bold">Супруг(а):</span> @Model.Person.Spouse</p>
                            }
                            @if (Model.Person.Awards != null)
                            {
                                <p> <span style="font-weight:bold">Награды:</span> @Model.Person.Awards</p>
                            }

                        </div>
                    </td>
                    <td valign="top" align="right">
                        <a href="#">
                            <img src="~/lib/images/Icons/favourite.png" width="30" height="30" onmouseover="this.src = '/lib/images/Icons/favourite11.png'; width = 30; height=30;" onmouseout="this.src='/lib/images/Icons/favourite.png'; width = 30; height=30;" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 style=" clear:both;">Интересные факты</h2>
        <p style=" clear:both;">@Model.Person.Description</p>
        </div>
    </div>
</body>
</html>