@model ICollection<NewKinoHub.Storage.Entity.Person>

<body>
    <div class="wrapper">
        <div>
            <form class="searchfo" method="post" href=@Url.Action("SearchPerson","Cast", new { IdFilm = ViewBag.IdFilm, role = ViewBag.Role}) style="width:250px !important;">
                @*Блок поиска каста*@
                <input class="searchin" type="search" placeholder="Search person..." value="@ViewData["Geetemployeedetails"]" name="Name">       @*Блок поиска каста*@
                <button type="submit" value="Search" class="searchbu" />                        @*Блок поиска каста*@
            </form>
        </div>
        @if (ViewBag.Role == 0)
        {
            <h3 class="colortext">>Добавление режиссера</h3>
        }
        @if (ViewBag.Role == 1)
        {
            <h3 class="colortext">>Добавление cценариста</h3>
        }
        @if (ViewBag.Role == 2)
        {
            <h3 class="colortext">>Добавление актера</h3>
        }

        @if (Model != null)
        {                /*выводится, если каст нашелся*/
            if (ViewData["Geetemployeedetails"] != null)
            {
                <div style="width: 100%; max-width: 1125px; margin: 0 auto; color:white;">
                    <h3 style="padding-bottom:3px; left:100%;">Вот, что нашлось по результатам поиска :</h3>
                    <h3 style="padding-bottom:3px; left:100%;">"@ViewData["Geetemployeedetails"]"</h3>
                </div>
            }
                <div style="margin-top:10px; width:1100px;" class="fav_block_films">
                    @foreach (var cast in Model)
                    {
                        <div class="item_films">
                            @if (cast.Img != null)
                            {
                                <p><a href=@Url.Action("Person", "Persons", new { personId = cast.Id })><img width="300" height="400" class="imagetitle" src="data:image/jpeg;base64,  @(Convert.ToBase64String(cast.Img))"></a></p>
                            }
                            else
                            {
                                <p><a href=@Url.Action("Person", "Persons", new { personId = cast.Id })><img width="300" height="400" class="imagetitle" src="~/lib/images/trav1.gif"></a></p>
                            }
                            <p style="margin-left:5px;"><a class="titlenamesize_list" href=@Url.Action("Person", "Persons", new { personId = cast.Id })>@cast.Name</a></p>
                            <div class="descr" style="color:white;">
                                @if (cast.Img != null)
                                {
                                    <p><a href=@Url.Action("Person", "Persons", new { personId = cast.Id })><img width="340" height="470" src="data:image/jpeg;base64, @(Convert.ToBase64String(cast.Img))"></a></p>
                                }
                                else
                                {
                                    <p><a href=@Url.Action("Person", "Persons", new { personId = cast.Id })><img width="340" height="470" src="~/lib/images/trav1.gif"></a></p>
                                }
                            <p>
                                <span style="font-weight:bold">Карьера:</span>
                                @if (cast.IsActor != false)
                                {<a style="color:white;" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "Actor", IdPerson = cast.Id })> Актёр </a>
                                    @if (cast.IsDirector != false || cast.IsScreenWriter != false)
                                    {<a>, </a>}}
                                @if (cast.IsDirector != false)
                                {<a style="color:white;" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "Director", IdPerson = cast.Id })> Режиссёр </a>
                                    if (cast.IsScreenWriter != false)
                                    {<a>, </a>}
                                }
                                @if (cast.IsScreenWriter != false)
                                {<a style="color:white;" href=@Url.Action("SelectFilmsForPerson", "Films", new { person = "ScreenWriter", IdPerson = cast.Id })> Сценарист </a>}
                            </p>
                                @if (cast.DateOfBirthday.Year != 0001)
                                {
                                    <p>
                                        <span style="font-weight:bold">Дата рождения:</span> @cast.DateOfBirthday.ToShortDateString()
                                    </p>
                                }
                                @if (cast.Age != -1)
                                {
                                    @if (cast.Age % 10 == 2 || cast.Age % 10 == 3 || cast.Age % 10 == 4)
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @cast.Age года</p>
                                    }
                                    else if (cast.Age % 10 == 1)
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @cast.Age год</p>
                                    }
                                    else
                                    {
                                        <p> <span style="font-weight:bold">Возраст:</span> @cast.Age лет</p>
                                    }
                                }

                                @if (cast.DateOfDeath.Year != 0001)
                                {
                                    <p> <span style="font-weight:bold">Дата смерти:</span> @cast.DateOfDeath.ToShortDateString()</p>
                                }
                                <p><a class="btn" style="width:100% !important;" href=@Url.Action("AddSearchPerson", "Cast", new { IdFilm = ViewBag.IdFilm, IdPerson = cast.Id , role = ViewBag.Role})>Добавить</a></p>
                            </div>
                        </div>
                    }
                </div>
        }
    </div>
</body>
