@model ICollection<NewKinoHub.Storage.Entity.Person>

<body>
    <div class="wrapper">
        <div>
            <form class="searchfo" method="post" href=@Url.Action("SearchPerson","Cast", new { IdFilm = ViewBag.IdFilm, role = ViewBag.Role}) style="width:250px !important;">
                @*Блок поиска каста*@
                <input class="searchin" type="search" placeholder="Search person..." value="@ViewData["Geetemployeedetails"]" name="Name">       @*Блок поиска каста*@
                <button type="submit" value="Search" class="searchbu" />                        @*Блок поиска каста*@
            </form>
        </div>
        @if (ViewBag.Role == 0)
        {
            <h3 class="colortext">>Добавление режиссера</h3>
        }
        @if (ViewBag.Role == 1)
        {
            <h3 class="colortext">>Добавление cценариста</h3>
        }
        @if (ViewBag.Role == 2)
        {
            <h3 class="colortext">>Добавление актера</h3>
        }

        @if (Model != null)
        {                /*выводится, если каст нашелся*/
            if (ViewData["Geetemployeedetails"] != null)
            {
            <div style="width: 100%; max-width: 1125px; margin: 0 auto; color:white;">
                <h3 style="padding-bottom:3px; left:100%;">Вот, что нашлось по результатам поиска :</h3>
                <h3 style="padding-bottom:3px; left:100%;">"@ViewData["Geetemployeedetails"]"</h3>
            </div>
            }
            @foreach (var cast in Model)
            {
                <div style="width: 1100px; min-height: 380px; margin-bottom:20px;">
                    <a href=@Url.Action("Person", "Persons", new { personId = cast.Id }) style="display:block; width : 250px; float : left; margin-right : 20px; height:inherit;">                        
                        @if (cast.Img != null)
                        {
                            <img height="395" width="265" class="u-back-image u-expanded imagetitle" src="data:image/jpeg;base64, @(Convert.ToBase64String(cast.Img))">
                        }
                        else
                        {
                            <img height="395" width="265" class="u-back-image u-expanded imagetitle" src="~/lib/images/trav1.gif">
                        }
                    </a>
                    <div class="bglistcast" style=" width:800px;min-height:395px;float:right; padding-left:10px;">
                        <table style="width: 780px; height:395px; color:black;">
                            <tbody>
                                <tr>
                                    <td valign="top" align="left">


                                        <p style="font-weight: bold; right:100%; left:0%;"> @cast.Name </p>
                                        <p>
                                            <span style="font-weight:bold">Карьера:</span>
                                            @if (cast.IsActor != false)
                                            {<a> Актёр </a>}
                                            @if (cast.IsDirector != false)
                                            {<a> Режиссёр </a>}
                                            @if (cast.IsScreenWriter != false)
                                            {<a> Сценарист </a>}
                                        </p>
                                        @if (cast.DateOfBirthday.Year != 0001)
                                        {
                                            <p>
                                                <span style="font-weight:bold">Дата рождения:</span> @cast.DateOfBirthday.ToShortDateString()
                                            </p>
                                        }
                                        @if (cast.Age != -1)
                                        {
                                            @if (cast.Age % 10 == 2 || cast.Age % 10 == 3 || cast.Age % 10 == 4)
                                            {
                                                <p> <span style="font-weight:bold">Возраст:</span> @cast.Age года</p>
                                            }
                                            else if (cast.Age % 10 == 1)
                                            {
                                                <p> <span style="font-weight:bold">Возраст:</span> @cast.Age год</p>
                                            }
                                            else
                                            {
                                                <p> <span style="font-weight:bold">Возраст:</span> @cast.Age лет</p>
                                            }
                                        }

                                        @if (cast.DateOfDeath.Year != 0001)
                                        {
                                            <p> <span style="font-weight:bold">Дата смерти:</span> @cast.DateOfDeath.ToShortDateString()</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="bottom" align="left">
                                        <p><a class="btn" href=@Url.Action("AddSearchPerson", "Cast", new { IdFilm = ViewBag.IdFilm, IdPerson = cast.Id , role = ViewBag.Role})>Добавить</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style=" clear:both;"></div>
                </div>
            }
        }
    </div>
</body>
